nifi/templates/API_SPTRANS_Ingestion.json
{"flowContents":{"identifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","instanceIdentifier":"bf809802-0199-1000-8407-42cc462d1d79","name":"API SPTRANS Ingestion","comments":"","position":{"x":-136.0,"y":128.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bfadd041-0199-1000-98a4-6a5d3e66c5c8","instanceIdentifier":"d5a5d35b-e9c5-39dd-1b9d-a4185c8486d6","name":"JoltTransformJSON","comments":"","position":{"x":240.0,"y":1120.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n  \"route_code\": { \"*\": { \"@\": \"records[&0].route_code\" } },\n  \"route_id\":   { \"*\": { \"@\": \"records[&0].route_id\"   } },\n  \"direction\":  { \"*\": { \"@\": \"records[&0].direction\"  } },\n  \"dir_from\":   { \"*\": { \"@\": \"records[&0].dir_from\"   } },\n  \"dir_to\":     { \"*\": { \"@\": \"records[&0].dir_to\"     } },\n  \"vehicle_id\": { \"*\": { \"@\": \"records[&0].vehicle_id\" } },\n  \"in_service\": { \"*\": { \"@\": \"records[&0].in_service\" } },\n  \"event_ts\":   { \"*\": { \"@\": \"records[&0].event_ts\"   } },\n  \"lat\":        { \"*\": { \"@\": \"records[&0].lat\"        } },\n  \"lon\":        { \"*\": { \"@\": \"records[&0].lon\"        } },\n  \"speed\":      { \"*\": { \"@\": \"records[&0].speed\"      } },\n  \"stop_id\":    { \"*\": { \"@\": \"records[&0].stop_id\"    } }\n}\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"76d9c370-6ad6-373f-bf85-5d48b1d50dbd","instanceIdentifier":"bf6e4cdb-0199-1000-551d-90aadc45bee9","name":"Wait","comments":"","position":{"x":240.0,"y":1976.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":null,"releasable-flowfile-count":"1","release-signal-id":null,"signal-counter-name":null,"expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"bfb8f7ef-0199-1000-d356-7ac428e211d9","instanceIdentifier":"727e166a-ba58-308b-8aa5-721da4a9e2fc","name":"SplitJson","comments":"","position":{"x":240.0,"y":1320.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.records[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"c5cbaf06-5657-3510-a669-ce3fee08e909","instanceIdentifier":"bf8959e8-0199-1000-b348-a338e1fab04d","name":"PublishKafka","comments":"","position":{"x":-528.0,"y":1096.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":null,"Kafka Key":null,"partition":null,"Kafka Connection Service":null,"Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"4fbd6e14-e90e-34a6-a55a-0880609c3001","instanceIdentifier":"bf95e840-0199-1000-abfb-f1d87b00428b","name":"JoltTransformJSON","comments":"","position":{"x":240.0,"y":712.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n  \"hr\": \"hr\",\n  \"l\": {\n    \"*\": {\n      \"vs\": {\n        \"*\": {\n          \"@(2,c)\":   \"records[&1].route_code\",\n          \"@(2,cl)\":  \"records[&1].route_id\",\n          \"@(2,sl)\":  \"records[&1].direction\",\n          \"@(2,lt0)\": \"records[&1].dir_from\",\n          \"@(2,lt1)\": \"records[&1].dir_to\",\n          \"p\":  \"records[&1].vehicle_id\",\n          \"a\":  \"records[&1].in_service\",\n          \"ta\": \"records[&1].event_ts\",\n          \"py\": \"records[&1].lat\",\n          \"px\": \"records[&1].lon\",\n          \"sv\": \"records[&1].speed\",\n          \"is\": \"records[&1].stop_id\"\n        }\n      }\n    }\n  }\n}\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"2ab2753f-e378-32b9-b129-6faf29aee712","instanceIdentifier":"bfb57157-0199-1000-c0de-718abcd98233","name":"UpdateAttribute","comments":"","position":{"x":240.0,"y":1776.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"kafka.key":"${route_id}:${vehicle_id}","content.type":"application/json"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"e4e89895-f842-3708-914e-1364a92772f1","instanceIdentifier":"bfa2d26e-0199-1000-6079-090b7017080a","name":"EvaluateJsonPath","comments":"","position":{"x":240.0,"y":1568.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","route_id":"$.route_id","Max String Length":"20 MB","Return Type":"auto-detect","event_ts":"$.event_ts","Null Value Representation":"empty string","vehicle_id":"$.vehicle_id","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"route_id":{"name":"route_id","displayName":"route_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event_ts":{"name":"event_ts","displayName":"event_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"vehicle_id":{"name":"vehicle_id","displayName":"vehicle_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"8b05aaed-5670-3471-8d43-29f491455c4b","instanceIdentifier":"bf74229d-0199-1000-364d-d093da5b0012","name":"InvokeHTTP - Get Position","comments":"","position":{"x":-144.0,"y":496.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Posicao","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cookie":{"name":"Cookie","displayName":"Cookie","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"30a53913-be88-3775-ad50-9ae88c69e272","instanceIdentifier":"bf7bfe4a-0199-1000-1683-a249a6600530","name":"PutS3Object - Raw Layer","comments":"","position":{"x":-528.0,"y":912.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"#{EndPoint-Minio}","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"olhovivo/posicao/${now():format('yyyy-MM-dd')}/${now():format('HH')}:${now():format('mm')}:${now():format('ss')}/data.json.gz\n","AWS Credentials Provider service":"385621fb-dc16-3135-b573-1e2022cc12d5","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"raw","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"444c3b3f-0409-3793-ab6b-a50a68f331f2","instanceIdentifier":"bf66d951-0199-1000-4b3b-e4eefbb15a02","name":"InvokeHTTP - Get Auth","comments":"","position":{"x":-144.0,"y":96.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Login/Autenticar?token=${SPTRANS_TOKEN}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"6350603d-58c3-3a60-9004-fdbeb1104c6b","instanceIdentifier":"bf6dc62c-0199-1000-9abd-d96f042cfab6","name":"UpdateAttribute - Get Credentials","comments":"","position":{"x":-144.0,"y":288.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","auth.cookie":"${set-cookie:substringBefore(';'):trim()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auth.cookie":{"name":"auth.cookie","displayName":"auth.cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"2ab7a6d7-c691-386b-8e06-a198497266a9","instanceIdentifier":"bf55e39e-0199-1000-8ac6-d704027d7fa3","name":"GenerateFlowFile","comments":"","position":{"x":-144.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"15 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"cef7c830-2b25-37dd-986a-9bc2dded6465","instanceIdentifier":"bfa10117-0199-1000-d8f1-f91df837e207","name":"SplitJson","comments":"","position":{"x":240.0,"y":920.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.records[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"98f0a855-3be5-3c71-8e9a-9318f32fb899","instanceIdentifier":"bf6d24f7-0199-1000-d3bf-05975ff36d30","name":"DuplicateFlowFile","comments":"","position":{"x":-528.0,"y":712.0},"type":"org.apache.nifi.processors.standard.DuplicateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Number of Copies":"100"},"propertyDescriptors":{"Number of Copies":{"name":"Number of Copies","displayName":"Number of Copies","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a09c801b-49d2-301f-b2d0-a64392bdbb15","instanceIdentifier":"bf747455-0199-1000-b658-fb9ea7986839","name":"","source":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"bf74229d-0199-1000-364d-d093da5b0012"},"destination":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"bf74229d-0199-1000-364d-d093da5b0012"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":296.0,"y":464.0},{"x":296.0,"y":472.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"e0a02b89-4a37-3ef6-8427-d37248aeea0d","instanceIdentifier":"bfa17979-0199-1000-859e-1b6c743c18f6","name":"","source":{"id":"cef7c830-2b25-37dd-986a-9bc2dded6465","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"SplitJson","comments":"","instanceIdentifier":"bfa10117-0199-1000-d8f1-f91df837e207"},"destination":{"id":"cef7c830-2b25-37dd-986a-9bc2dded6465","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"SplitJson","comments":"","instanceIdentifier":"bfa10117-0199-1000-d8f1-f91df837e207"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":708.0,"y":958.0},{"x":708.0,"y":1008.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"1eff50ba-036e-369f-ab65-95214f2e5ec8","instanceIdentifier":"bfb51945-0199-1000-a885-7562b9e5d55b","name":"","source":{"id":"e4e89895-f842-3708-914e-1364a92772f1","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bfa2d26e-0199-1000-6079-090b7017080a"},"destination":{"id":"2ab2753f-e378-32b9-b129-6faf29aee712","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"UpdateAttribute","comments":"","instanceIdentifier":"bfb57157-0199-1000-c0de-718abcd98233"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"5b010e90-78c4-333d-9773-eeb655bb709f","instanceIdentifier":"bf6e6289-0199-1000-6237-f9bef12da85e","name":"","source":{"id":"6350603d-58c3-3a60-9004-fdbeb1104c6b","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"UpdateAttribute - Get Credentials","comments":"","instanceIdentifier":"bf6dc62c-0199-1000-9abd-d96f042cfab6"},"destination":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"bf74229d-0199-1000-364d-d093da5b0012"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"e312f2ca-c809-32c4-b481-73e5f5b2a432","instanceIdentifier":"bf7c1874-0199-1000-5861-f26bd34e23b7","name":"","source":{"id":"98f0a855-3be5-3c71-8e9a-9318f32fb899","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"bf6d24f7-0199-1000-d3bf-05975ff36d30"},"destination":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"bf7bfe4a-0199-1000-1683-a249a6600530"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"dfd57406-15c2-31e2-ba43-424e87030835","instanceIdentifier":"bf66e5da-0199-1000-f17d-71c2ff8363bd","name":"","source":{"id":"2ab7a6d7-c691-386b-8e06-a198497266a9","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"GenerateFlowFile","comments":"","instanceIdentifier":"bf55e39e-0199-1000-8ac6-d704027d7fa3"},"destination":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"bf66d951-0199-1000-4b3b-e4eefbb15a02"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"b82e9165-d5ed-3a7c-b126-a1705c46021c","instanceIdentifier":"bf963777-0199-1000-73a0-6a20c9aa493a","name":"","source":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"bf74229d-0199-1000-364d-d093da5b0012"},"destination":{"id":"4fbd6e14-e90e-34a6-a55a-0880609c3001","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"JoltTransformJSON","comments":"","instanceIdentifier":"bf95e840-0199-1000-abfb-f1d87b00428b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":416.0,"y":560.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"dfcb22bd-cf4e-3aa2-ae78-8ff948a28052","instanceIdentifier":"bfb964ae-0199-1000-9cbc-23bc9546593b","name":"","source":{"id":"bfb8f7ef-0199-1000-d356-7ac428e211d9","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"SplitJson","comments":"","instanceIdentifier":"727e166a-ba58-308b-8aa5-721da4a9e2fc"},"destination":{"id":"bfb8f7ef-0199-1000-d356-7ac428e211d9","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"SplitJson","comments":"","instanceIdentifier":"727e166a-ba58-308b-8aa5-721da4a9e2fc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":709.0,"y":1359.0},{"x":709.0,"y":1409.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"400b2315-d96b-30e2-a2e3-c768c118a97c","instanceIdentifier":"bfb62a55-0199-1000-fcae-ac42d5eb683d","name":"","source":{"id":"2ab2753f-e378-32b9-b129-6faf29aee712","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"UpdateAttribute","comments":"","instanceIdentifier":"bfb57157-0199-1000-c0de-718abcd98233"},"destination":{"id":"76d9c370-6ad6-373f-bf85-5d48b1d50dbd","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"Wait","comments":"","instanceIdentifier":"bf6e4cdb-0199-1000-551d-90aadc45bee9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"a38ca87a-60e4-3a2e-a327-96f3227a618a","instanceIdentifier":"bf9da48e-0199-1000-ff9f-8f924bf4e349","name":"","source":{"id":"4fbd6e14-e90e-34a6-a55a-0880609c3001","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"JoltTransformJSON","comments":"","instanceIdentifier":"bf95e840-0199-1000-abfb-f1d87b00428b"},"destination":{"id":"cef7c830-2b25-37dd-986a-9bc2dded6465","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"SplitJson","comments":"","instanceIdentifier":"bfa10117-0199-1000-d8f1-f91df837e207"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"ac526349-6419-3577-9805-ce39bcb49f97","instanceIdentifier":"bfa1b67d-0199-1000-dd74-2be551c70456","name":"","source":{"id":"cef7c830-2b25-37dd-986a-9bc2dded6465","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"SplitJson","comments":"","instanceIdentifier":"bfa10117-0199-1000-d8f1-f91df837e207"},"destination":{"id":"bfadd041-0199-1000-98a4-6a5d3e66c5c8","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d5a5d35b-e9c5-39dd-1b9d-a4185c8486d6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"3d936c04-8f2b-37b6-bd4a-3c77621b40f9","instanceIdentifier":"bf692082-0199-1000-20e2-5e91ac4fef31","name":"","source":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"bf66d951-0199-1000-4b3b-e4eefbb15a02"},"destination":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"bf66d951-0199-1000-4b3b-e4eefbb15a02"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":321.6481399536133,"y":135.0},{"x":321.6481399536133,"y":185.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"0d0c1263-f147-3b01-970a-a6c1cc4a6fc1","instanceIdentifier":"bfae4405-0199-1000-f20d-f88e11f064ae","name":"","source":{"id":"bfadd041-0199-1000-98a4-6a5d3e66c5c8","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d5a5d35b-e9c5-39dd-1b9d-a4185c8486d6"},"destination":{"id":"bfadd041-0199-1000-98a4-6a5d3e66c5c8","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d5a5d35b-e9c5-39dd-1b9d-a4185c8486d6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":709.0,"y":1159.0},{"x":709.0,"y":1209.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"81c5dc81-0c2d-33c9-8138-8e51a7ca41ea","instanceIdentifier":"bf6dd702-0199-1000-ba32-2193015355bf","name":"","source":{"id":"98f0a855-3be5-3c71-8e9a-9318f32fb899","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"bf6d24f7-0199-1000-d3bf-05975ff36d30"},"destination":{"id":"4fbd6e14-e90e-34a6-a55a-0880609c3001","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"JoltTransformJSON","comments":"","instanceIdentifier":"bf95e840-0199-1000-abfb-f1d87b00428b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"c9438739-8dbc-3a3c-967a-a5ac19ff4401","instanceIdentifier":"bfb979e4-0199-1000-7ede-c1022cd2cce2","name":"","source":{"id":"bfb8f7ef-0199-1000-d356-7ac428e211d9","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"SplitJson","comments":"","instanceIdentifier":"727e166a-ba58-308b-8aa5-721da4a9e2fc"},"destination":{"id":"e4e89895-f842-3708-914e-1364a92772f1","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bfa2d26e-0199-1000-6079-090b7017080a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"1851e82a-c331-3e21-bd23-4321dd72cfac","instanceIdentifier":"bf748b39-0199-1000-bb8a-8dd1ece2a3a6","name":"","source":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"bf74229d-0199-1000-364d-d093da5b0012"},"destination":{"id":"98f0a855-3be5-3c71-8e9a-9318f32fb899","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"bf6d24f7-0199-1000-d3bf-05975ff36d30"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-352.0,"y":560.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"3f844224-121c-3437-acf5-d4206665c656","instanceIdentifier":"bf7cb858-0199-1000-2dc9-d7b6715ee1ca","name":"","source":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"bf7bfe4a-0199-1000-1683-a249a6600530"},"destination":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"bf7bfe4a-0199-1000-1683-a249a6600530"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-59.64520263671875,"y":949.140625},{"x":-59.64520263671875,"y":999.140625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"1f6bbcb5-8f38-348e-aece-c33917020fc2","instanceIdentifier":"bf9d6b22-0199-1000-8a97-029e88f58424","name":"","source":{"id":"4fbd6e14-e90e-34a6-a55a-0880609c3001","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"JoltTransformJSON","comments":"","instanceIdentifier":"bf95e840-0199-1000-abfb-f1d87b00428b"},"destination":{"id":"4fbd6e14-e90e-34a6-a55a-0880609c3001","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"JoltTransformJSON","comments":"","instanceIdentifier":"bf95e840-0199-1000-abfb-f1d87b00428b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":709.0,"y":751.0},{"x":709.0,"y":801.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"07f2e005-1d30-32fa-b46b-04e47f0fca2e","instanceIdentifier":"bfa3d703-0199-1000-b829-0a39095adf95","name":"","source":{"id":"e4e89895-f842-3708-914e-1364a92772f1","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bfa2d26e-0199-1000-6079-090b7017080a"},"destination":{"id":"e4e89895-f842-3708-914e-1364a92772f1","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bfa2d26e-0199-1000-6079-090b7017080a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":699.3652648925781,"y":1609.095703125},{"x":699.3652648925781,"y":1659.095703125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"ffe0fab1-9a85-3707-894b-2aa2c2aba7e2","instanceIdentifier":"bf79bfd9-0199-1000-b7f0-6fc4e70be94e","name":"","source":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"bf66d951-0199-1000-4b3b-e4eefbb15a02"},"destination":{"id":"6350603d-58c3-3a60-9004-fdbeb1104c6b","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"UpdateAttribute - Get Credentials","comments":"","instanceIdentifier":"bf6dc62c-0199-1000-9abd-d96f042cfab6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"},{"identifier":"3dc9b578-49af-3637-b8b4-edf891f8d6eb","instanceIdentifier":"bfb94fe6-0199-1000-1c89-6141d20b952a","name":"","source":{"id":"bfadd041-0199-1000-98a4-6a5d3e66c5c8","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d5a5d35b-e9c5-39dd-1b9d-a4185c8486d6"},"destination":{"id":"bfb8f7ef-0199-1000-d356-7ac428e211d9","type":"PROCESSOR","groupId":"e6fbd164-5edb-3317-986f-6d1c1d8e1365","name":"SplitJson","comments":"","instanceIdentifier":"727e166a-ba58-308b-8aa5-721da4a9e2fc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6fbd164-5edb-3317-986f-6d1c1d8e1365"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"385621fb-dc16-3135-b573-1e2022cc12d5","instanceIdentifier":"bf7c5160-0199-1000-235a-8d3bda778423","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf809802-0199-1000-8407-42cc462d1d79"}],"parameterContextName":"prd","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"prd":{"name":"prd","parameters":[{"name":"SPTRANS_TOKEN","description":"","sensitive":false,"provided":false,"value":"2eb570f8b1e9bbd60049588cd472f4c1ddb138a6cee071132ddc891d02dff1e4"},{"name":"EndPoint-Minio","description":"","sensitive":false,"provided":false,"value":"http://minio:9000"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}