nifi/templates/API_SPTRANS_Ingestion_v5.json
{"flowContents":{"identifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7","instanceIdentifier":"26b1f947-019a-1000-a45b-6ae79b5ee489","name":"API_SPTRANS_Ingestion_v4","comments":"","position":{"x":-424.0,"y":-257.5},"processGroups":[{"identifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73","instanceIdentifier":"287f0d08-019a-1000-48ab-a23e9fa1e8ba","name":"API_SPTRANS_Ingestion_v3","comments":"","position":{"x":-903.6853385470055,"y":355.7958425866989},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bfadd041-0199-1000-98a4-6a5d3e66c5c8","instanceIdentifier":"ce82f75c-bceb-3824-197f-1b52bbc86111","name":"JoltTransformJSON","comments":"","position":{"x":240.0,"y":1120.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n  \"route_code\": { \"*\": { \"@\": \"records[&0].route_code\" } },\n  \"route_id\":   { \"*\": { \"@\": \"records[&0].route_id\"   } },\n  \"direction\":  { \"*\": { \"@\": \"records[&0].direction\"  } },\n  \"dir_from\":   { \"*\": { \"@\": \"records[&0].dir_from\"   } },\n  \"dir_to\":     { \"*\": { \"@\": \"records[&0].dir_to\"     } },\n  \"vehicle_id\": { \"*\": { \"@\": \"records[&0].vehicle_id\" } },\n  \"in_service\": { \"*\": { \"@\": \"records[&0].in_service\" } },\n  \"event_ts\":   { \"*\": { \"@\": \"records[&0].event_ts\"   } },\n  \"lat\":        { \"*\": { \"@\": \"records[&0].lat\"        } },\n  \"lon\":        { \"*\": { \"@\": \"records[&0].lon\"        } },\n  \"speed\":      { \"*\": { \"@\": \"records[&0].speed\"      } },\n  \"stop_id\":    { \"*\": { \"@\": \"records[&0].stop_id\"    } }\n}\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"bfb8f7ef-0199-1000-d356-7ac428e211d9","instanceIdentifier":"e6196a0c-e717-3d3f-32c4-fb54f330133e","name":"SplitJson","comments":"","position":{"x":240.0,"y":1320.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.records[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"4fbd6e14-e90e-34a6-a55a-0880609c3001","instanceIdentifier":"ddc05ea3-dfb4-39b8-4051-9a5ca092ab20","name":"JoltTransformJSON","comments":"","position":{"x":240.0,"y":712.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n  \"hr\": \"hr\",\n  \"l\": {\n    \"*\": {\n      \"vs\": {\n        \"*\": {\n          \"@(2,c)\":   \"records[&1].route_code\",\n          \"@(2,cl)\":  \"records[&1].route_id\",\n          \"@(2,sl)\":  \"records[&1].direction\",\n          \"@(2,lt0)\": \"records[&1].dir_from\",\n          \"@(2,lt1)\": \"records[&1].dir_to\",\n          \"p\":  \"records[&1].vehicle_id\",\n          \"a\":  \"records[&1].in_service\",\n          \"ta\": \"records[&1].event_ts\",\n          \"py\": \"records[&1].lat\",\n          \"px\": \"records[&1].lon\",\n          \"sv\": \"records[&1].speed\",\n          \"is\": \"records[&1].stop_id\"\n        }\n      }\n    }\n  }\n}\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"2ab2753f-e378-32b9-b129-6faf29aee712","instanceIdentifier":"b871faf7-489d-3854-16f0-76dbdd7f359b","name":"UpdateAttribute","comments":"","position":{"x":240.0,"y":1776.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"kafka.key":"${route_id}:${vehicle_id}","content.type":"application/json"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"e4e89895-f842-3708-914e-1364a92772f1","instanceIdentifier":"e88f8e51-6375-30ac-0076-e3a16fab70b7","name":"EvaluateJsonPath","comments":"","position":{"x":240.0,"y":1568.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","route_id":"$.route_id","Max String Length":"20 MB","Return Type":"auto-detect","event_ts":"$.event_ts","Null Value Representation":"empty string","vehicle_id":"$.vehicle_id","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"route_id":{"name":"route_id","displayName":"route_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event_ts":{"name":"event_ts","displayName":"event_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"vehicle_id":{"name":"vehicle_id","displayName":"vehicle_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"bb4768a5-1f2b-3957-a33d-0533c1017f8b","instanceIdentifier":"1f4a51b8-92ff-3b08-f599-bb40752561b6","name":"PublishKafka","comments":"","position":{"x":232.0,"y":2344.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"sptrans-trusted","Kafka Key":null,"partition":null,"Kafka Connection Service":"6cc9eff0-4d46-3817-a2fe-a2e9117a6c16","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"8b05aaed-5670-3471-8d43-29f491455c4b","instanceIdentifier":"e90afd3b-c89c-35b6-b818-da1a9d1d8167","name":"InvokeHTTP - Get Position","comments":"","position":{"x":-144.0,"y":496.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Posicao","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","cookie":"${auth.cookie}","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cookie":{"name":"cookie","displayName":"cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"49f09dc3-0733-34d7-9bc3-82effc399b96","instanceIdentifier":"347eb941-0f55-30d8-cc7e-a40be47d9a6a","name":"JoltTransformJSON","comments":"","position":{"x":240.0,"y":1960.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": { \"*\": \"payload.&\" }\n  },\n  {\n    \"operation\": \"modify-default-beta\",\n    \"spec\": {\n      \"payload\": {\n        \"route_code\": \"\",\n        \"direction\": 0,\n        \"dir_from\": \"\",\n        \"dir_to\": \"\",\n        \"in_service\": false,\n        \"lat\": 0.0,\n        \"lon\": 0.0,\n        \"speed\": 0.0,\n        \"stop_id\": \"\"\n      }\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"schema\": {\n        \"type\": \"struct\",\n        \"optional\": false,\n        \"name\": \"sptrans.Position\",\n        \"fields\": [\n          { \"type\": \"int32\",   \"field\": \"route_id\" },\n          { \"type\": \"string\",  \"field\": \"route_code\", \"optional\": true },\n          { \"type\": \"int32\",   \"field\": \"direction\",  \"optional\": true },\n          { \"type\": \"string\",  \"field\": \"dir_from\",   \"optional\": true },\n          { \"type\": \"string\",  \"field\": \"dir_to\",     \"optional\": true },\n          { \"type\": \"int32\",   \"field\": \"vehicle_id\" },\n          { \"type\": \"boolean\", \"field\": \"in_service\", \"optional\": true },\n          { \"type\": \"string\",  \"field\": \"event_ts\" },\n          { \"type\": \"double\",  \"field\": \"lat\",        \"optional\": true },\n          { \"type\": \"double\",  \"field\": \"lon\",        \"optional\": true },\n          { \"type\": \"double\",  \"field\": \"speed\",      \"optional\": true },\n          { \"type\": \"string\",  \"field\": \"stop_id\",    \"optional\": true }\n        ]\n      }\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"30a53913-be88-3775-ad50-9ae88c69e272","instanceIdentifier":"669c284d-4c29-3f5f-d2ae-b34db5e1a18c","name":"PutS3Object - Raw Layer","comments":"","position":{"x":-528.0,"y":712.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"#{EndPoint-Minio}","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"olhovivo/posicao/${now():format('yyyy-MM-dd')}/${now():format('HH')}:${now():format('mm')}:${now():format('ss')}/data.json.gz\n","AWS Credentials Provider service":"385621fb-dc16-3135-b573-1e2022cc12d5","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"raw","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"444c3b3f-0409-3793-ab6b-a50a68f331f2","instanceIdentifier":"dedacee7-37d9-3fcb-2056-8dd2dc93e344","name":"InvokeHTTP - Get Auth","comments":"","position":{"x":-144.0,"y":96.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Login/Autenticar?token=#{SPTRANS_TOKEN}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"6350603d-58c3-3a60-9004-fdbeb1104c6b","instanceIdentifier":"5d2b500e-72c0-3889-952b-e62c1f07d2fa","name":"UpdateAttribute - Get Credentials","comments":"","position":{"x":-144.0,"y":288.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","auth.cookie":"${set-cookie:substringBefore(';'):trim()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auth.cookie":{"name":"auth.cookie","displayName":"auth.cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"77c363aa-e45a-347c-bf1b-e224a1ff5670","instanceIdentifier":"b337ad78-efbe-3159-b1b9-d9b145ad8c4e","name":"ControlRate","comments":"","position":{"x":240.0,"y":2152.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"5 sec","Grouping Attribute":null,"Maximum Rate":"1","Rate Controlled Attribute":"${route_id}","Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"2ab7a6d7-c691-386b-8e06-a198497266a9","instanceIdentifier":"55b126ca-5006-37ee-7677-e492a080f613","name":"GenerateFlowFile","comments":"","position":{"x":-144.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"2 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"15 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"cef7c830-2b25-37dd-986a-9bc2dded6465","instanceIdentifier":"2e4af81c-0b80-32b0-dd74-f9756a048901","name":"SplitJson","comments":"","position":{"x":240.0,"y":920.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.records[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a09c801b-49d2-301f-b2d0-a64392bdbb15","instanceIdentifier":"c35bd072-6abe-388b-c6f6-47f72168d6d8","name":"","source":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"e90afd3b-c89c-35b6-b818-da1a9d1d8167"},"destination":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"e90afd3b-c89c-35b6-b818-da1a9d1d8167"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":296.0,"y":464.0},{"x":296.0,"y":472.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"ae05f5c2-f54e-3b74-b71c-58575ef8e11a","instanceIdentifier":"47878a5a-b87f-33f6-89ee-86590603b199","name":"","source":{"id":"bb4768a5-1f2b-3957-a33d-0533c1017f8b","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"PublishKafka","comments":"","instanceIdentifier":"1f4a51b8-92ff-3b08-f599-bb40752561b6"},"destination":{"id":"bb4768a5-1f2b-3957-a33d-0533c1017f8b","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"PublishKafka","comments":"","instanceIdentifier":"1f4a51b8-92ff-3b08-f599-bb40752561b6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":701.8397827148438,"y":2384.325439453125},{"x":701.8397827148438,"y":2434.325439453125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"1eff50ba-036e-369f-ab65-95214f2e5ec8","instanceIdentifier":"4e054274-02af-3f82-638d-004b0679c1a8","name":"","source":{"id":"e4e89895-f842-3708-914e-1364a92772f1","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e88f8e51-6375-30ac-0076-e3a16fab70b7"},"destination":{"id":"2ab2753f-e378-32b9-b129-6faf29aee712","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"UpdateAttribute","comments":"","instanceIdentifier":"b871faf7-489d-3854-16f0-76dbdd7f359b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"e0a02b89-4a37-3ef6-8427-d37248aeea0d","instanceIdentifier":"e8ac34ca-ceb2-32cc-3c9e-ab9357972ded","name":"","source":{"id":"cef7c830-2b25-37dd-986a-9bc2dded6465","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"SplitJson","comments":"","instanceIdentifier":"2e4af81c-0b80-32b0-dd74-f9756a048901"},"destination":{"id":"cef7c830-2b25-37dd-986a-9bc2dded6465","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"SplitJson","comments":"","instanceIdentifier":"2e4af81c-0b80-32b0-dd74-f9756a048901"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":708.0,"y":958.0},{"x":708.0,"y":1008.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"5b010e90-78c4-333d-9773-eeb655bb709f","instanceIdentifier":"08795bf6-1d83-30a8-cc6e-4891773ffe23","name":"","source":{"id":"6350603d-58c3-3a60-9004-fdbeb1104c6b","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"UpdateAttribute - Get Credentials","comments":"","instanceIdentifier":"5d2b500e-72c0-3889-952b-e62c1f07d2fa"},"destination":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"e90afd3b-c89c-35b6-b818-da1a9d1d8167"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"9ed24e90-9bf3-36a5-9c40-b6f22e12acf8","instanceIdentifier":"c295f809-43ec-33cd-ac51-aaa1a570ee3d","name":"","source":{"id":"77c363aa-e45a-347c-bf1b-e224a1ff5670","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"ControlRate","comments":"","instanceIdentifier":"b337ad78-efbe-3159-b1b9-d9b145ad8c4e"},"destination":{"id":"bb4768a5-1f2b-3957-a33d-0533c1017f8b","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"PublishKafka","comments":"","instanceIdentifier":"1f4a51b8-92ff-3b08-f599-bb40752561b6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"e7eb2bb4-46e3-39de-a2c7-2aaa689e2903","instanceIdentifier":"91db5724-d877-3841-8acc-1207cbccace1","name":"","source":{"id":"77c363aa-e45a-347c-bf1b-e224a1ff5670","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"ControlRate","comments":"","instanceIdentifier":"b337ad78-efbe-3159-b1b9-d9b145ad8c4e"},"destination":{"id":"77c363aa-e45a-347c-bf1b-e224a1ff5670","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"ControlRate","comments":"","instanceIdentifier":"b337ad78-efbe-3159-b1b9-d9b145ad8c4e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":706.31494140625,"y":2189.26513671875},{"x":706.31494140625,"y":2239.26513671875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"b82e9165-d5ed-3a7c-b126-a1705c46021c","instanceIdentifier":"354955a3-b85d-35c8-12a4-c89872a45352","name":"","source":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"e90afd3b-c89c-35b6-b818-da1a9d1d8167"},"destination":{"id":"4fbd6e14-e90e-34a6-a55a-0880609c3001","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ddc05ea3-dfb4-39b8-4051-9a5ca092ab20"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":416.0,"y":560.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"dfd57406-15c2-31e2-ba43-424e87030835","instanceIdentifier":"2f436f47-169c-34ea-d52a-c85ec8886b60","name":"","source":{"id":"2ab7a6d7-c691-386b-8e06-a198497266a9","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"GenerateFlowFile","comments":"","instanceIdentifier":"55b126ca-5006-37ee-7677-e492a080f613"},"destination":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"dedacee7-37d9-3fcb-2056-8dd2dc93e344"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"dfcb22bd-cf4e-3aa2-ae78-8ff948a28052","instanceIdentifier":"32b5a216-2282-33fc-fcb5-41f2a8fcc9b7","name":"","source":{"id":"bfb8f7ef-0199-1000-d356-7ac428e211d9","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"SplitJson","comments":"","instanceIdentifier":"e6196a0c-e717-3d3f-32c4-fb54f330133e"},"destination":{"id":"bfb8f7ef-0199-1000-d356-7ac428e211d9","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"SplitJson","comments":"","instanceIdentifier":"e6196a0c-e717-3d3f-32c4-fb54f330133e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":709.0,"y":1359.0},{"x":709.0,"y":1409.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"400b2315-d96b-30e2-a2e3-c768c118a97c","instanceIdentifier":"789a084c-6c81-3807-93a2-97c0e60cb45a","name":"","source":{"id":"2ab2753f-e378-32b9-b129-6faf29aee712","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"UpdateAttribute","comments":"","instanceIdentifier":"b871faf7-489d-3854-16f0-76dbdd7f359b"},"destination":{"id":"49f09dc3-0733-34d7-9bc3-82effc399b96","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"347eb941-0f55-30d8-cc7e-a40be47d9a6a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"a38ca87a-60e4-3a2e-a327-96f3227a618a","instanceIdentifier":"a0af443e-ad08-32f5-507f-4b7500c4a1e7","name":"","source":{"id":"4fbd6e14-e90e-34a6-a55a-0880609c3001","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ddc05ea3-dfb4-39b8-4051-9a5ca092ab20"},"destination":{"id":"cef7c830-2b25-37dd-986a-9bc2dded6465","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"SplitJson","comments":"","instanceIdentifier":"2e4af81c-0b80-32b0-dd74-f9756a048901"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"59bac3b0-f109-347d-9c24-11e6642ae13d","instanceIdentifier":"aef4a46d-0a62-3506-207f-73a196182153","name":"","source":{"id":"49f09dc3-0733-34d7-9bc3-82effc399b96","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"347eb941-0f55-30d8-cc7e-a40be47d9a6a"},"destination":{"id":"49f09dc3-0733-34d7-9bc3-82effc399b96","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"347eb941-0f55-30d8-cc7e-a40be47d9a6a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":708.0,"y":1999.0},{"x":708.0,"y":2049.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"3d936c04-8f2b-37b6-bd4a-3c77621b40f9","instanceIdentifier":"f851b462-6356-30b0-cae3-133f75ed30c5","name":"","source":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"dedacee7-37d9-3fcb-2056-8dd2dc93e344"},"destination":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"dedacee7-37d9-3fcb-2056-8dd2dc93e344"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":321.6481399536133,"y":135.0},{"x":321.6481399536133,"y":185.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"ac526349-6419-3577-9805-ce39bcb49f97","instanceIdentifier":"8f1f0e4a-a5df-3509-81cb-151c5f6d0655","name":"","source":{"id":"cef7c830-2b25-37dd-986a-9bc2dded6465","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"SplitJson","comments":"","instanceIdentifier":"2e4af81c-0b80-32b0-dd74-f9756a048901"},"destination":{"id":"bfadd041-0199-1000-98a4-6a5d3e66c5c8","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ce82f75c-bceb-3824-197f-1b52bbc86111"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"0d0c1263-f147-3b01-970a-a6c1cc4a6fc1","instanceIdentifier":"3aa78d49-2b02-370e-7ab4-a7e25818dd74","name":"","source":{"id":"bfadd041-0199-1000-98a4-6a5d3e66c5c8","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ce82f75c-bceb-3824-197f-1b52bbc86111"},"destination":{"id":"bfadd041-0199-1000-98a4-6a5d3e66c5c8","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ce82f75c-bceb-3824-197f-1b52bbc86111"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":709.0,"y":1159.0},{"x":709.0,"y":1209.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"c9438739-8dbc-3a3c-967a-a5ac19ff4401","instanceIdentifier":"4e91fb8c-16a1-3f69-6817-35c7422a7b73","name":"","source":{"id":"bfb8f7ef-0199-1000-d356-7ac428e211d9","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"SplitJson","comments":"","instanceIdentifier":"e6196a0c-e717-3d3f-32c4-fb54f330133e"},"destination":{"id":"e4e89895-f842-3708-914e-1364a92772f1","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e88f8e51-6375-30ac-0076-e3a16fab70b7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"1851e82a-c331-3e21-bd23-4321dd72cfac","instanceIdentifier":"b8c37931-9956-344b-6c7b-428eff6b5917","name":"","source":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"e90afd3b-c89c-35b6-b818-da1a9d1d8167"},"destination":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"669c284d-4c29-3f5f-d2ae-b34db5e1a18c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-352.0,"y":560.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"3f844224-121c-3437-acf5-d4206665c656","instanceIdentifier":"ca7c302d-9d09-354e-b244-b06df63cc234","name":"","source":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"669c284d-4c29-3f5f-d2ae-b34db5e1a18c"},"destination":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"669c284d-4c29-3f5f-d2ae-b34db5e1a18c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-56.64520263671875,"y":743.140625},{"x":-56.64520263671875,"y":793.140625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"1f6bbcb5-8f38-348e-aece-c33917020fc2","instanceIdentifier":"25347d5b-0ee8-3f4b-91cd-8c195df4fe17","name":"","source":{"id":"4fbd6e14-e90e-34a6-a55a-0880609c3001","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ddc05ea3-dfb4-39b8-4051-9a5ca092ab20"},"destination":{"id":"4fbd6e14-e90e-34a6-a55a-0880609c3001","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ddc05ea3-dfb4-39b8-4051-9a5ca092ab20"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":709.0,"y":751.0},{"x":709.0,"y":801.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"ffe0fab1-9a85-3707-894b-2aa2c2aba7e2","instanceIdentifier":"c33a3ec6-cb3b-3107-c05b-0433ca1a40fb","name":"","source":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"dedacee7-37d9-3fcb-2056-8dd2dc93e344"},"destination":{"id":"6350603d-58c3-3a60-9004-fdbeb1104c6b","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"UpdateAttribute - Get Credentials","comments":"","instanceIdentifier":"5d2b500e-72c0-3889-952b-e62c1f07d2fa"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"3dc9b578-49af-3637-b8b4-edf891f8d6eb","instanceIdentifier":"7c1fb5fa-0f4f-3f14-729a-15d3aaa2bb94","name":"","source":{"id":"bfadd041-0199-1000-98a4-6a5d3e66c5c8","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"ce82f75c-bceb-3824-197f-1b52bbc86111"},"destination":{"id":"bfb8f7ef-0199-1000-d356-7ac428e211d9","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"SplitJson","comments":"","instanceIdentifier":"e6196a0c-e717-3d3f-32c4-fb54f330133e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"e2fca6ca-137e-3a59-82bc-49c5c9c8b1ca","instanceIdentifier":"be73299c-41e5-304b-3724-cd850519e677","name":"","source":{"id":"49f09dc3-0733-34d7-9bc3-82effc399b96","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"JoltTransformJSON","comments":"","instanceIdentifier":"347eb941-0f55-30d8-cc7e-a40be47d9a6a"},"destination":{"id":"77c363aa-e45a-347c-bf1b-e224a1ff5670","type":"PROCESSOR","groupId":"51f87b19-9e37-35a7-982c-e377ae2a6d73","name":"ControlRate","comments":"","instanceIdentifier":"b337ad78-efbe-3159-b1b9-d9b145ad8c4e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"385621fb-dc16-3135-b573-1e2022cc12d5","instanceIdentifier":"79223b26-af6b-393c-617b-263381c8a9da","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"},{"identifier":"6cc9eff0-4d46-3817-a2fe-a2e9117a6c16","instanceIdentifier":"8d120fc9-5561-35f1-2e10-80a079b36bcf","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"broker:29092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"51f87b19-9e37-35a7-982c-e377ae2a6d73"}],"parameterContextName":"prd","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"}],"remoteProcessGroups":[],"processors":[{"identifier":"28811b44-019a-1000-ec09-3ad5e06f8fe8","instanceIdentifier":"1a08e111-7367-377c-aa33-1ae83061598a","name":"JoltTransformJSON","comments":"","position":{"x":-208.0,"y":2120.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": { \"*\": \"payload.&\" }\n  },\n  {\n    \"operation\": \"modify-default-beta\",\n    \"spec\": {\n      \"payload\": {\n        \"route_code\": \"\",\n        \"direction\": 0,\n        \"dir_from\": \"\",\n        \"dir_to\": \"\",\n        \"in_service\": false,\n        \"lat\": 0.0,\n        \"lon\": 0.0,\n        \"speed\": 0.0,\n        \"stop_id\": \"\"\n      }\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"schema\": {\n        \"type\": \"struct\",\n        \"optional\": false,\n        \"name\": \"sptrans.Position\",\n        \"fields\": [\n          { \"type\": \"int32\",   \"field\": \"route_id\" },\n          { \"type\": \"string\",  \"field\": \"route_code\", \"optional\": true },\n          { \"type\": \"int32\",   \"field\": \"direction\",  \"optional\": true },\n          { \"type\": \"string\",  \"field\": \"dir_from\",   \"optional\": true },\n          { \"type\": \"string\",  \"field\": \"dir_to\",     \"optional\": true },\n          { \"type\": \"int32\",   \"field\": \"vehicle_id\" },\n          { \"type\": \"boolean\", \"field\": \"in_service\", \"optional\": true },\n          { \"type\": \"string\",  \"field\": \"event_ts\" },\n          { \"type\": \"double\",  \"field\": \"lat\",        \"optional\": true },\n          { \"type\": \"double\",  \"field\": \"lon\",        \"optional\": true },\n          { \"type\": \"double\",  \"field\": \"speed\",      \"optional\": true },\n          { \"type\": \"string\",  \"field\": \"stop_id\",    \"optional\": true }\n        ]\n      }\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"288c5d4f-019a-1000-d7ce-8a059ea16ef8","instanceIdentifier":"8c867043-f2ce-36d3-17be-0d566b0c1c1c","name":"JoltTransformJSON","comments":"","position":{"x":-912.0,"y":2120.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"route_id\": \"${route_id}\"\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"route_id\": \"=toInteger(@(1,route_id))\"\n      }\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"28811b42-019a-1000-4a89-b2fe1fdebab3","instanceIdentifier":"626104f9-d835-3272-6286-f2d954129f1f","name":"UpdateAttribute","comments":"","position":{"x":-912.0,"y":2544.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"kafka.key":"${route_id}:${vehicle_id}","content.type":"application/json"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"8b05aaed-5670-3471-8d43-29f491455c4b","instanceIdentifier":"0b5e46f7-17b7-360d-f24c-9e6b03c0a671","name":"InvokeHTTP - Get Position","comments":"","position":{"x":-144.0,"y":488.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Posicao","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","cookie":"${auth.cookie}","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cookie":{"name":"cookie","displayName":"cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"287f8042-019a-1000-1cfa-e6a889b2a1ab","instanceIdentifier":"4c6cf0b4-c2b3-360d-fa73-0d7949246984","name":"SplitJson","comments":"","position":{"x":-544.0,"y":864.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.records[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"288067e3-019a-1000-3190-a493fbe53667","instanceIdentifier":"3a077634-34b2-34a5-7b1c-fc8915e7c008","name":"SplitJson","comments":"","position":{"x":-544.0,"y":1320.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.records[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"d7d5772d-542d-3afa-b78c-726a95ae9483","instanceIdentifier":"2886b227-019a-1000-c1bc-caf69bf04fbe","name":"RouteOnContent","comments":"","position":{"x":-544.0,"y":1960.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must contain match","isNonEmptyValue":"^\\s*\\[(?!\\s*\\])[\\s\\S]*\\]$","isEmptyValue":"^\\s*\\[\\s*\\]\\s*$","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isNonEmptyValue":{"name":"isNonEmptyValue","displayName":"isNonEmptyValue","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isEmptyValue":{"name":"isEmptyValue","displayName":"isEmptyValue","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"1a1e84e1-ea44-376f-897e-130d5617009f","instanceIdentifier":"28983005-019a-1000-3ec3-8d1cf43392d2","name":"MergeContent","comments":"","position":{"x":-912.0,"y":2320.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"500","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":"10 sec","Demarcator File":",","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"500"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"30a53913-be88-3775-ad50-9ae88c69e272","instanceIdentifier":"c5f70dda-75b4-3750-6cbf-b39a9c35344e","name":"PutS3Object - Raw Layer","comments":"","position":{"x":320.0,"y":1008.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"#{EndPoint-Minio}","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"olhovivo/posicao/${now():format('yyyy-MM-dd')}/${uuid}.json","AWS Credentials Provider service":"385621fb-dc16-3135-b573-1e2022cc12d5","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"raw","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"444c3b3f-0409-3793-ab6b-a50a68f331f2","instanceIdentifier":"b9f88280-db27-3e36-e6b5-ce2db02d8df1","name":"InvokeHTTP - Get Auth","comments":"","position":{"x":-144.0,"y":80.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Login/Autenticar?token=#{SPTRANS_TOKEN}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"2882ec8e-019a-1000-03f9-3449a7169805","instanceIdentifier":"1f9b2815-87b6-39eb-b01e-072253897c73","name":"InvokeHTTP - Get Stops","comments":"","position":{"x":-544.0,"y":1744.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Parada/BuscarParadasPorLinha?codigoLinha=${route_id}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","cookie":"${auth.cookie}","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cookie":{"name":"cookie","displayName":"cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"6350603d-58c3-3a60-9004-fdbeb1104c6b","instanceIdentifier":"7625ca67-9bd2-3f50-d336-482767e8d2ad","name":"UpdateAttribute - Get Credentials","comments":"","position":{"x":-144.0,"y":288.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","auth.cookie":"${set-cookie:substringBefore(';'):trim()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auth.cookie":{"name":"auth.cookie","displayName":"auth.cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"2ab7a6d7-c691-386b-8e06-a198497266a9","instanceIdentifier":"6aafe00c-609b-344c-c39c-d3d08b516d4b","name":"GenerateFlowFile","comments":"","position":{"x":-144.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"15 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"286555d5-019a-1000-dd83-f165f6b05637","instanceIdentifier":"996bbfc8-14f9-3471-8346-80707c98bf3f","name":"JoltTransformJSON","comments":"","position":{"x":-144.0,"y":688.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"cardinality\",\n    \"spec\": {\n      \"l\": \"MANY\",\n      \"l.*.vs\": \"MANY\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"hr\": \"hr\",\n      \"l\": {\n        \"*\": {\n          \"vs\": {\n            \"*\": {\n              \"@(2,c)\":   \"records[&1].route_code\",\n              \"@(2,cl)\":  \"records[&1].route_id\",\n              \"@(2,sl)\":  \"records[&1].direction\",\n              \"@(2,lt0)\": \"records[&1].dir_from\",\n              \"@(2,lt1)\": \"records[&1].dir_to\",\n              \"p\":        \"records[&1].vehicle_id\",\n              \"a\":        \"records[&1].in_service\",\n              \"ta\":       \"records[&1].event_ts\",\n              \"py\":       \"records[&1].lat\",\n              \"px\":       \"records[&1].lon\",\n              \"sv\":       \"records[&1].speed\",\n              \"is\":       \"records[&1].stop_id\"\n            }\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"records\": {\n        \"*\": {\n          \"route_id\":    \"=toInteger(@(1,route_id))\",\n          \"direction\":   \"=toInteger(@(1,direction))\",\n          \"vehicle_id\":  \"=toInteger(@(1,vehicle_id))\",\n          \"in_service\":  \"=toBoolean(@(1,in_service))\",\n          \"lat\":         \"=toDouble(@(1,lat))\",\n          \"lon\":         \"=toDouble(@(1,lon))\",\n          \"speed\":       \"=toDouble(@(1,speed))\"\n        }\n      }\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"28811b43-019a-1000-3aeb-0064338923f0","instanceIdentifier":"659a693a-9bea-355f-3bba-8d15ce5a3e7d","name":"EvaluateJsonPath","comments":"","position":{"x":-544.0,"y":1528.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","route_id":"$.route_id","Max String Length":"20 MB","Return Type":"auto-detect","event_ts":"$.event_ts","Null Value Representation":"empty string","vehicle_id":"$.vehicle_id","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"route_id":{"name":"route_id","displayName":"route_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event_ts":{"name":"event_ts","displayName":"event_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"vehicle_id":{"name":"vehicle_id","displayName":"vehicle_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"287f8041-019a-1000-fc33-4b9d299e91bf","instanceIdentifier":"8a740e6b-caec-3f87-3c6d-3d0711fe8a51","name":"JoltTransformJSON","comments":"","position":{"x":-544.0,"y":1088.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n  \"route_code\": { \"*\": { \"@\": \"records[&0].route_code\" } },\n  \"route_id\":   { \"*\": { \"@\": \"records[&0].route_id\"   } },\n  \"direction\":  { \"*\": { \"@\": \"records[&0].direction\"  } },\n  \"dir_from\":   { \"*\": { \"@\": \"records[&0].dir_from\"   } },\n  \"dir_to\":     { \"*\": { \"@\": \"records[&0].dir_to\"     } },\n  \"vehicle_id\": { \"*\": { \"@\": \"records[&0].vehicle_id\" } },\n  \"in_service\": { \"*\": { \"@\": \"records[&0].in_service\" } },\n  \"event_ts\":   { \"*\": { \"@\": \"records[&0].event_ts\"   } },\n  \"lat\":        { \"*\": { \"@\": \"records[&0].lat\"        } },\n  \"lon\":        { \"*\": { \"@\": \"records[&0].lon\"        } },\n  \"speed\":      { \"*\": { \"@\": \"records[&0].speed\"      } },\n  \"stop_id\":    { \"*\": { \"@\": \"records[&0].stop_id\"    } }\n}\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"537127e5-6190-36ef-86d4-e4fdc80b0705","instanceIdentifier":"28987adc-019a-1000-f766-c557cda7d4d9","name":"","source":{"id":"1a1e84e1-ea44-376f-897e-130d5617009f","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"MergeContent","comments":"","instanceIdentifier":"28983005-019a-1000-3ec3-8d1cf43392d2"},"destination":{"id":"1a1e84e1-ea44-376f-897e-130d5617009f","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"MergeContent","comments":"","instanceIdentifier":"28983005-019a-1000-3ec3-8d1cf43392d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-443.0,"y":2359.0},{"x":-443.0,"y":2409.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"a09c801b-49d2-301f-b2d0-a64392bdbb15","instanceIdentifier":"299db2fd-f4a1-3b08-75a5-fa7ef29650f0","name":"","source":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"0b5e46f7-17b7-360d-f24c-9e6b03c0a671"},"destination":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"0b5e46f7-17b7-360d-f24c-9e6b03c0a671"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":296.9124298095703,"y":458.1618347167969},{"x":297.45521545410156,"y":463.2832336425781}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"5b010e90-78c4-333d-9773-eeb655bb709f","instanceIdentifier":"df086b23-3462-343c-e5eb-bf8cff7920ef","name":"","source":{"id":"6350603d-58c3-3a60-9004-fdbeb1104c6b","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"UpdateAttribute - Get Credentials","comments":"","instanceIdentifier":"7625ca67-9bd2-3f50-d336-482767e8d2ad"},"destination":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"0b5e46f7-17b7-360d-f24c-9e6b03c0a671"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"7d4782f2-0cbf-3107-a118-db8e4952885e","instanceIdentifier":"2897a60d-019a-1000-7386-6dc38c64bde4","name":"","source":{"id":"288c5d4f-019a-1000-d7ce-8a059ea16ef8","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8c867043-f2ce-36d3-17be-0d566b0c1c1c"},"destination":{"id":"288c5d4f-019a-1000-d7ce-8a059ea16ef8","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8c867043-f2ce-36d3-17be-0d566b0c1c1c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-443.0,"y":2159.0},{"x":-443.0,"y":2209.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"dfd57406-15c2-31e2-ba43-424e87030835","instanceIdentifier":"8579c1e9-1243-3138-ad31-03964f0fadaa","name":"","source":{"id":"2ab7a6d7-c691-386b-8e06-a198497266a9","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"GenerateFlowFile","comments":"","instanceIdentifier":"6aafe00c-609b-344c-c39c-d3d08b516d4b"},"destination":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"b9f88280-db27-3e36-e6b5-ce2db02d8df1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"c36c7494-7910-3b4b-ac4b-1877a2c304e5","instanceIdentifier":"288143e1-019a-1000-cfee-8e4db4445428","name":"","source":{"id":"288067e3-019a-1000-3190-a493fbe53667","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"SplitJson","comments":"","instanceIdentifier":"3a077634-34b2-34a5-7b1c-fc8915e7c008"},"destination":{"id":"28811b43-019a-1000-3aeb-0064338923f0","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"659a693a-9bea-355f-3bba-8d15ce5a3e7d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"354d8ee4-a5df-3958-b069-0942262473e7","instanceIdentifier":"2883472e-019a-1000-632a-0a99c794685c","name":"","source":{"id":"2882ec8e-019a-1000-03f9-3449a7169805","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Stops","comments":"","instanceIdentifier":"1f9b2815-87b6-39eb-b01e-072253897c73"},"destination":{"id":"2882ec8e-019a-1000-03f9-3449a7169805","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Stops","comments":"","instanceIdentifier":"1f9b2815-87b6-39eb-b01e-072253897c73"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-73.0,"y":1781.0},{"x":-73.0,"y":1831.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"cd0d946c-1e9b-38af-be5f-9b1816b9a8ad","instanceIdentifier":"28839ee0-019a-1000-8a42-7fd806e9e0a3","name":"","source":{"id":"2882ec8e-019a-1000-03f9-3449a7169805","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Stops","comments":"","instanceIdentifier":"1f9b2815-87b6-39eb-b01e-072253897c73"},"destination":{"id":"d7d5772d-542d-3afa-b78c-726a95ae9483","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"RouteOnContent","comments":"","instanceIdentifier":"2886b227-019a-1000-c1bc-caf69bf04fbe"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"40599228-8dea-3cb8-b8d2-6e1d176b9ceb","instanceIdentifier":"287fcadd-019a-1000-4e77-b10abc952804","name":"","source":{"id":"287f8042-019a-1000-1cfa-e6a889b2a1ab","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"SplitJson","comments":"","instanceIdentifier":"4c6cf0b4-c2b3-360d-fa73-0d7949246984"},"destination":{"id":"287f8041-019a-1000-fc33-4b9d299e91bf","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8a740e6b-caec-3f87-3c6d-3d0711fe8a51"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"e8511325-6099-3656-9306-e3139f373411","instanceIdentifier":"286592f5-019a-1000-686e-a24ff0794558","name":"","source":{"id":"286555d5-019a-1000-dd83-f165f6b05637","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"996bbfc8-14f9-3471-8346-80707c98bf3f"},"destination":{"id":"286555d5-019a-1000-dd83-f165f6b05637","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"996bbfc8-14f9-3471-8346-80707c98bf3f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":319.57603454589844,"y":724.90234375},{"x":319.57603454589844,"y":774.90234375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"3d936c04-8f2b-37b6-bd4a-3c77621b40f9","instanceIdentifier":"00b314d4-1e6b-31df-5334-0e11e17a62ce","name":"","source":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"b9f88280-db27-3e36-e6b5-ce2db02d8df1"},"destination":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"b9f88280-db27-3e36-e6b5-ce2db02d8df1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":322.7968444824219,"y":125.81041717529297},{"x":322.7968444824219,"y":175.81041717529297}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"34a89d69-f537-3db2-a0a1-ef43203aa4ca","instanceIdentifier":"288f6cab-019a-1000-1829-b994224f7376","name":"","source":{"id":"d7d5772d-542d-3afa-b78c-726a95ae9483","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"RouteOnContent","comments":"","instanceIdentifier":"2886b227-019a-1000-c1bc-caf69bf04fbe"},"destination":{"id":"288c5d4f-019a-1000-d7ce-8a059ea16ef8","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8c867043-f2ce-36d3-17be-0d566b0c1c1c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["isNonEmptyValue"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-736.0,"y":2024.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"15cfc4cc-5d6f-3407-9980-305e3e25b804","instanceIdentifier":"28807a21-019a-1000-7c1f-bb9ce742bbb2","name":"","source":{"id":"287f8041-019a-1000-fc33-4b9d299e91bf","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8a740e6b-caec-3f87-3c6d-3d0711fe8a51"},"destination":{"id":"288067e3-019a-1000-3190-a493fbe53667","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"SplitJson","comments":"","instanceIdentifier":"3a077634-34b2-34a5-7b1c-fc8915e7c008"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"93741ccf-44ea-30eb-8509-722844225e20","instanceIdentifier":"28657ecd-019a-1000-f1f1-47549d51582c","name":"","source":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"0b5e46f7-17b7-360d-f24c-9e6b03c0a671"},"destination":{"id":"286555d5-019a-1000-dd83-f165f6b05637","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"996bbfc8-14f9-3471-8346-80707c98bf3f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"7bc1aaa5-4e32-31ca-99a5-c98631012ef0","instanceIdentifier":"288c7a41-019a-1000-b3ef-8cd3e38fb587","name":"","source":{"id":"d7d5772d-542d-3afa-b78c-726a95ae9483","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"RouteOnContent","comments":"","instanceIdentifier":"2886b227-019a-1000-c1bc-caf69bf04fbe"},"destination":{"id":"28811b44-019a-1000-ec09-3ad5e06f8fe8","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"1a08e111-7367-377c-aa33-1ae83061598a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["isEmptyValue"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-32.0,"y":2024.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"f1170978-701e-3eef-9770-a4decb85bb62","instanceIdentifier":"28979c79-019a-1000-1a92-e80fa2bfdd06","name":"","source":{"id":"288c5d4f-019a-1000-d7ce-8a059ea16ef8","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8c867043-f2ce-36d3-17be-0d566b0c1c1c"},"destination":{"id":"1a1e84e1-ea44-376f-897e-130d5617009f","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"MergeContent","comments":"","instanceIdentifier":"28983005-019a-1000-3ec3-8d1cf43392d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"b7aaa22a-ed58-3023-bc1e-1d0028ebfcf0","instanceIdentifier":"287be1c6-019a-1000-3694-c164a1528f3d","name":"","source":{"id":"286555d5-019a-1000-dd83-f165f6b05637","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"996bbfc8-14f9-3471-8346-80707c98bf3f"},"destination":{"id":"287f8042-019a-1000-1cfa-e6a889b2a1ab","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"SplitJson","comments":"","instanceIdentifier":"4c6cf0b4-c2b3-360d-fa73-0d7949246984"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-368.0,"y":752.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"3f844224-121c-3437-acf5-d4206665c656","instanceIdentifier":"95b6f45a-3deb-335c-ca87-ed33a8da324b","name":"","source":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"c5f70dda-75b4-3750-6cbf-b39a9c35344e"},"destination":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"c5f70dda-75b4-3750-6cbf-b39a9c35344e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":774.2591018676758,"y":1038.9832763671875},{"x":774.2591018676758,"y":1088.9832763671875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"d596d3e2-3b51-3cd7-8ab4-d6147d02d937","instanceIdentifier":"288036b6-019a-1000-c12f-07769f29fdb9","name":"","source":{"id":"287f8042-019a-1000-1cfa-e6a889b2a1ab","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"SplitJson","comments":"","instanceIdentifier":"4c6cf0b4-c2b3-360d-fa73-0d7949246984"},"destination":{"id":"287f8042-019a-1000-1cfa-e6a889b2a1ab","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"SplitJson","comments":"","instanceIdentifier":"4c6cf0b4-c2b3-360d-fa73-0d7949246984"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-75.0,"y":903.0},{"x":-75.0,"y":953.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"05083789-ef42-32ef-83aa-b5a071e2d2e3","instanceIdentifier":"288137c6-019a-1000-fff7-ff62f65156db","name":"","source":{"id":"288067e3-019a-1000-3190-a493fbe53667","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"SplitJson","comments":"","instanceIdentifier":"3a077634-34b2-34a5-7b1c-fc8915e7c008"},"destination":{"id":"288067e3-019a-1000-3190-a493fbe53667","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"SplitJson","comments":"","instanceIdentifier":"3a077634-34b2-34a5-7b1c-fc8915e7c008"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-75.0,"y":1359.0},{"x":-75.0,"y":1409.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"0b6692fb-3499-33b6-a093-76d08b2481dc","instanceIdentifier":"28989d95-019a-1000-8084-698076e7678f","name":"","source":{"id":"1a1e84e1-ea44-376f-897e-130d5617009f","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"MergeContent","comments":"","instanceIdentifier":"28983005-019a-1000-3ec3-8d1cf43392d2"},"destination":{"id":"28811b42-019a-1000-4a89-b2fe1fdebab3","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"UpdateAttribute","comments":"","instanceIdentifier":"626104f9-d835-3272-6286-f2d954129f1f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"ffe0fab1-9a85-3707-894b-2aa2c2aba7e2","instanceIdentifier":"e439c7b9-d122-3d17-d52d-151f3f286169","name":"","source":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"b9f88280-db27-3e36-e6b5-ce2db02d8df1"},"destination":{"id":"6350603d-58c3-3a60-9004-fdbeb1104c6b","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"UpdateAttribute - Get Credentials","comments":"","instanceIdentifier":"7625ca67-9bd2-3f50-d336-482767e8d2ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"93790aa7-63eb-3a60-956a-50ebc68b5bde","instanceIdentifier":"288048d3-019a-1000-88a7-02549b64083e","name":"","source":{"id":"287f8041-019a-1000-fc33-4b9d299e91bf","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8a740e6b-caec-3f87-3c6d-3d0711fe8a51"},"destination":{"id":"287f8041-019a-1000-fc33-4b9d299e91bf","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8a740e6b-caec-3f87-3c6d-3d0711fe8a51"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-75.0,"y":1127.0},{"x":-75.0,"y":1177.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"8496dd10-ced8-3feb-a88f-4ad0cc417ce3","instanceIdentifier":"28816137-019a-1000-2e10-f38a62f96cfb","name":"","source":{"id":"28811b43-019a-1000-3aeb-0064338923f0","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"659a693a-9bea-355f-3bba-8d15ce5a3e7d"},"destination":{"id":"2882ec8e-019a-1000-03f9-3449a7169805","type":"PROCESSOR","groupId":"fd46df24-5973-306d-81da-b1c2afc3f5f7","name":"InvokeHTTP - Get Stops","comments":"","instanceIdentifier":"1f9b2815-87b6-39eb-b01e-072253897c73"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"385621fb-dc16-3135-b573-1e2022cc12d5","instanceIdentifier":"a1a4866d-c835-3b5a-9867-b6d6fe2dfe99","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"},{"identifier":"6cc9eff0-4d46-3817-a2fe-a2e9117a6c16","instanceIdentifier":"502a52f2-b5d9-3808-f8d3-9c388b8c98a8","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"broker:29092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fd46df24-5973-306d-81da-b1c2afc3f5f7"}],"parameterContextName":"prd","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"prd":{"name":"prd","parameters":[{"name":"SPTRANS_TOKEN","description":"","sensitive":false,"provided":false,"value":"2eb570f8b1e9bbd60049588cd472f4c1ddb138a6cee071132ddc891d02dff1e4"},{"name":"EndPoint-Minio","description":"","sensitive":false,"provided":false,"value":"http://minio:9000"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}