nifi/templates/API_SPTRANS_Ingestion_v6.json
{"flowContents":{"identifier":"62deacdf-206c-3d11-8a73-c0372fa1365b","instanceIdentifier":"2d5b39a8-019a-1000-6b73-7184d89cdd56","name":"API_SPTRANS_Ingestion_v6","comments":"","position":{"x":-457.0,"y":-178.5},"processGroups":[{"identifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","instanceIdentifier":"2de89e8c-019a-1000-d54e-b4a4e0405010","name":"Get Position","comments":"","position":{"x":-128.0,"y":-256.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2dec63a0-019a-1000-de6c-e6504f392cfe","instanceIdentifier":"39630fcf-5f1e-3524-f9ab-044bf0e397be","name":"UpdateAttribute - Get Credentials","comments":"","position":{"x":-648.0,"y":256.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","auth.cookie":"${set-cookie:substringBefore(';'):trim()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auth.cookie":{"name":"auth.cookie","displayName":"auth.cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"2dedf48a-019a-1000-2e0b-cabfb4a80241","instanceIdentifier":"646f2d76-fb62-3da5-4f19-4163e72302e2","name":"RouteOnAttribute","comments":"","position":{"x":-632.0,"y":864.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"isGetPositions":"${flow_name:equals(\"positions\")}","Routing Strategy":"Route to Property name","isGetStops":"${flow_name:equals(\"stops\")}"},"propertyDescriptors":{"isGetPositions":{"name":"isGetPositions","displayName":"isGetPositions","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isGetStops":{"name":"isGetStops","displayName":"isGetStops","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"2dec639f-019a-1000-264a-65c6e88e66d1","instanceIdentifier":"dcf72c91-f41b-3bad-8e0f-3c71fbd36e46","name":"JoltTransformJSON","comments":"","position":{"x":-640.0,"y":656.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"cardinality\",\n    \"spec\": {\n      \"l\": \"MANY\",\n      \"l.*.vs\": \"MANY\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"hr\": \"hr\",\n      \"l\": {\n        \"*\": {\n          \"vs\": {\n            \"*\": {\n              \"@(2,c)\":   \"records[&1].route_code\",\n              \"@(2,cl)\":  \"records[&1].route_id\",\n              \"@(2,sl)\":  \"records[&1].direction\",\n              \"@(2,lt0)\": \"records[&1].dir_from\",\n              \"@(2,lt1)\": \"records[&1].dir_to\",\n              \"p\":        \"records[&1].vehicle_id\",\n              \"a\":        \"records[&1].in_service\",\n              \"ta\":       \"records[&1].event_ts\",\n              \"py\":       \"records[&1].lat\",\n              \"px\":       \"records[&1].lon\",\n              \"sv\":       \"records[&1].speed\",\n              \"is\":       \"records[&1].stop_id\"\n            }\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"records\": {\n        \"*\": {\n          \"route_id\":    \"=toInteger(@(1,route_id))\",\n          \"direction\":   \"=toInteger(@(1,direction))\",\n          \"vehicle_id\":  \"=toInteger(@(1,vehicle_id))\",\n          \"in_service\":  \"=toBoolean(@(1,in_service))\",\n          \"lat\":         \"=toDouble(@(1,lat))\",\n          \"lon\":         \"=toDouble(@(1,lon))\",\n          \"speed\":       \"=toDouble(@(1,speed))\"\n        }\n      }\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"2dec639e-019a-1000-2821-34c5221a1345","instanceIdentifier":"6733b041-7aa1-36e7-418b-5ac7384d933b","name":"InvokeHTTP - Get Auth","comments":"","position":{"x":-648.0,"y":48.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Login/Autenticar?token=#{SPTRANS_TOKEN}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"2dedf48b-019a-1000-d9ea-586bfb410f9f","instanceIdentifier":"387cd200-f3ac-338c-1b63-3e25c42ffcdd","name":"PutS3Object - Raw Layer","comments":"","position":{"x":-232.0,"y":1040.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"#{EndPoint-Minio}","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"olhovivo/posicao/${now():format('yyyy-MM-dd')}/${uuid}.json","AWS Credentials Provider service":"385621fb-dc16-3135-b573-1e2022cc12d5","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"raw","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"2dec639d-019a-1000-aa7f-804d66010c35","instanceIdentifier":"fa2c1ac7-4a2d-3bbe-3b32-5bea653686ee","name":"InvokeHTTP - Get Position","comments":"","position":{"x":-648.0,"y":456.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Posicao","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","cookie":"${auth.cookie}","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cookie":{"name":"cookie","displayName":"cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"}],"inputPorts":[{"identifier":"f20cd7ad-40f8-3554-93cf-0a67563e2840","instanceIdentifier":"2deacb11-019a-1000-47fe-073dad38c045","name":"inStops","position":{"x":-936.0,"y":-104.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"5e118c81-8440-3260-94b9-314cc5a1c80f","instanceIdentifier":"2deaa2cb-019a-1000-2757-f4d51c59d732","name":"inPositions","position":{"x":-264.0,"y":-104.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"}],"outputPorts":[{"identifier":"8d62be88-d53f-3bfb-b1e8-300552c794a8","instanceIdentifier":"2deeac74-019a-1000-cce8-ff0542298d09","name":"outStops","position":{"x":-920.0,"y":1104.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"}],"connections":[{"identifier":"ccbd6a5b-99d2-3f36-8673-ea4e753a6de0","instanceIdentifier":"2ded4954-019a-1000-ea2c-96618a98c0cd","name":"","source":{"id":"2dec639f-019a-1000-264a-65c6e88e66d1","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"JoltTransformJSON","comments":"","instanceIdentifier":"dcf72c91-f41b-3bad-8e0f-3c71fbd36e46"},"destination":{"id":"2dec639f-019a-1000-264a-65c6e88e66d1","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"JoltTransformJSON","comments":"","instanceIdentifier":"dcf72c91-f41b-3bad-8e0f-3c71fbd36e46"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-171.0,"y":695.0},{"x":-171.0,"y":745.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"3681f0ca-dfef-3155-aed1-02c2eafab243","instanceIdentifier":"2df4d3d3-019a-1000-7d6b-14d881cf60d8","name":"","source":{"id":"2dedf48b-019a-1000-d9ea-586bfb410f9f","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"387cd200-f3ac-338c-1b63-3e25c42ffcdd"},"destination":{"id":"2dedf48b-019a-1000-d9ea-586bfb410f9f","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"387cd200-f3ac-338c-1b63-3e25c42ffcdd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":237.0,"y":1079.0},{"x":237.0,"y":1129.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"da12c4e8-fd48-3e17-a647-51dd405bac62","instanceIdentifier":"2defc52b-019a-1000-2b24-6cf080ba20f2","name":"","source":{"id":"2dedf48a-019a-1000-2e0b-cabfb4a80241","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"RouteOnAttribute","comments":"","instanceIdentifier":"646f2d76-fb62-3da5-4f19-4163e72302e2"},"destination":{"id":"8d62be88-d53f-3bfb-b1e8-300552c794a8","type":"OUTPUT_PORT","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"outStops","instanceIdentifier":"2deeac74-019a-1000-cce8-ff0542298d09"},"labelIndex":0,"zIndex":0,"selectedRelationships":["isGetStops"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-800.0,"y":936.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"2dec63a2-019a-1000-b8f7-b1f1a8ec5759","instanceIdentifier":"7602d016-b026-33f1-9971-461fddbcdd5d","name":"","source":{"id":"2dec639e-019a-1000-2821-34c5221a1345","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"6733b041-7aa1-36e7-418b-5ac7384d933b"},"destination":{"id":"2dec63a0-019a-1000-de6c-e6504f392cfe","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"UpdateAttribute - Get Credentials","comments":"","instanceIdentifier":"39630fcf-5f1e-3524-f9ab-044bf0e397be"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"a6c78341-aa83-3064-9dd0-3043ac10d17e","instanceIdentifier":"2dee098d-019a-1000-831f-35d904daa6ee","name":"","source":{"id":"2dec639f-019a-1000-264a-65c6e88e66d1","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"JoltTransformJSON","comments":"","instanceIdentifier":"dcf72c91-f41b-3bad-8e0f-3c71fbd36e46"},"destination":{"id":"2dedf48a-019a-1000-2e0b-cabfb4a80241","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"RouteOnAttribute","comments":"","instanceIdentifier":"646f2d76-fb62-3da5-4f19-4163e72302e2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"2dec63a1-019a-1000-2bb3-0f8a213d68a0","instanceIdentifier":"a939aef3-56c1-3d02-026e-fbb90c013f2f","name":"","source":{"id":"2dec639d-019a-1000-aa7f-804d66010c35","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"fa2c1ac7-4a2d-3bbe-3b32-5bea653686ee"},"destination":{"id":"2dec639f-019a-1000-264a-65c6e88e66d1","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"JoltTransformJSON","comments":"","instanceIdentifier":"dcf72c91-f41b-3bad-8e0f-3c71fbd36e46"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"e496b9df-2d20-32fd-9e65-ea1cce46d071","instanceIdentifier":"2decf21a-019a-1000-414d-a461bffe74bf","name":"","source":{"id":"2dec639e-019a-1000-2821-34c5221a1345","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"6733b041-7aa1-36e7-418b-5ac7384d933b"},"destination":{"id":"2dec639e-019a-1000-2821-34c5221a1345","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"6733b041-7aa1-36e7-418b-5ac7384d933b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-179.0,"y":87.0},{"x":-179.0,"y":137.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"47e99140-f4f4-395c-9aad-29f502a570f6","instanceIdentifier":"2dee24a9-019a-1000-d8fe-8c767b5c9280","name":"","source":{"id":"2dedf48a-019a-1000-2e0b-cabfb4a80241","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"RouteOnAttribute","comments":"","instanceIdentifier":"646f2d76-fb62-3da5-4f19-4163e72302e2"},"destination":{"id":"2dedf48b-019a-1000-d9ea-586bfb410f9f","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"387cd200-f3ac-338c-1b63-3e25c42ffcdd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["isGetPositions"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-56.0,"y":928.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"3eda5dc5-d141-31e9-9d27-5ba1838917f5","instanceIdentifier":"2dec8264-019a-1000-bfdf-4d7985762d3d","name":"","source":{"id":"f20cd7ad-40f8-3554-93cf-0a67563e2840","type":"INPUT_PORT","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"inStops","instanceIdentifier":"2deacb11-019a-1000-47fe-073dad38c045"},"destination":{"id":"2dec639e-019a-1000-2821-34c5221a1345","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"6733b041-7aa1-36e7-418b-5ac7384d933b"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-816.0,"y":80.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"cfda85a8-c53c-3d48-84a3-3d57cb61a895","instanceIdentifier":"2ded35d7-019a-1000-a7af-e6ff4b9d35e9","name":"","source":{"id":"2dec639d-019a-1000-aa7f-804d66010c35","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"fa2c1ac7-4a2d-3bbe-3b32-5bea653686ee"},"destination":{"id":"2dec639d-019a-1000-aa7f-804d66010c35","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"fa2c1ac7-4a2d-3bbe-3b32-5bea653686ee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-179.0,"y":495.0},{"x":-179.0,"y":545.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"2dec63a3-019a-1000-e77f-efa196f68ebe","instanceIdentifier":"13fa25dc-94e9-3e08-93ed-51cbbb8fef13","name":"","source":{"id":"2dec63a0-019a-1000-de6c-e6504f392cfe","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"UpdateAttribute - Get Credentials","comments":"","instanceIdentifier":"39630fcf-5f1e-3524-f9ab-044bf0e397be"},"destination":{"id":"2dec639d-019a-1000-aa7f-804d66010c35","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"fa2c1ac7-4a2d-3bbe-3b32-5bea653686ee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"},{"identifier":"d95cfca5-cac5-3f9b-be55-c8e8a83b1872","instanceIdentifier":"2decbf3f-019a-1000-fb2c-875eb3f8e941","name":"","source":{"id":"5e118c81-8440-3260-94b9-314cc5a1c80f","type":"INPUT_PORT","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"inPositions","instanceIdentifier":"2deaa2cb-019a-1000-2757-f4d51c59d732"},"destination":{"id":"2dec639e-019a-1000-2821-34c5221a1345","type":"PROCESSOR","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"6733b041-7aa1-36e7-418b-5ac7384d933b"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-144.0,"y":72.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prd","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"},{"identifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","instanceIdentifier":"2df03e10-019a-1000-1ce7-f9cbb702360e","name":"Get Stops","comments":"","position":{"x":-128.0,"y":32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2df20f06-019a-1000-09c0-f952c54ecd79","instanceIdentifier":"9084dfe4-dbe6-3677-fd9e-4e846d2a6079","name":"RouteOnContent","comments":"","position":{"x":-336.0,"y":2104.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must contain match","isNonEmptyValue":"^\\s*\\[(?!\\s*\\])[\\s\\S]*\\]$","isEmptyValue":"^\\s*\\[\\s*\\]\\s*$","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isNonEmptyValue":{"name":"isNonEmptyValue","displayName":"isNonEmptyValue","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isEmptyValue":{"name":"isEmptyValue","displayName":"isEmptyValue","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["isEmptyValue","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df2f1b1-019a-1000-8f2c-c57a5f0bbcac","instanceIdentifier":"53e27b01-6a53-3649-a5e2-7f1e9d850d26","name":"PutS3Object - Raw Layer","comments":"","position":{"x":-336.0,"y":2728.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"#{EndPoint-Minio}","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"olhovivo/paradas/${now():format('yyyy-MM-dd')}/${uuid}.json","AWS Credentials Provider service":"385621fb-dc16-3135-b573-1e2022cc12d5","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"raw","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20eff-019a-1000-0ceb-db1114d4d43c","instanceIdentifier":"17c60a3d-0779-3dc7-82c6-7c7ba2d812c9","name":"JoltTransformJSON","comments":"","position":{"x":-344.0,"y":624.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"route_id\": \"route_id\"\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f08-019a-1000-63cf-452d5be5dd05","instanceIdentifier":"d73018d9-be66-3467-fc52-bcb6aa26f36a","name":"MergeContent","comments":"","position":{"x":-336.0,"y":2528.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"500","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":"10 sec","Demarcator File":",","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"500"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f0a-019a-1000-d60d-3b7898c2109f","instanceIdentifier":"82794419-f879-30ce-e104-752dfedac533","name":"EvaluateJsonPath","comments":"","position":{"x":-336.0,"y":1472.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","route_id":"$.route_id","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"route_id":{"name":"route_id","displayName":"route_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f02-019a-1000-b156-718b62351664","instanceIdentifier":"e90bc4e9-1a45-3026-fd4e-e963ed525d53","name":"JoltTransformJSON","comments":"","position":{"x":-336.0,"y":2328.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"route_id\": \"${route_id}\"\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"route_id\": \"=toInteger(@(1,route_id))\"\n      }\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f01-019a-1000-9737-b0799a62e0d2","instanceIdentifier":"8f6ab621-7809-3264-b935-c324b349f913","name":"SplitJson","comments":"","position":{"x":-336.0,"y":1240.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f09-019a-1000-c04d-6f8045cef33c","instanceIdentifier":"64a37f0b-4a32-3a76-c807-72a031d13f65","name":"InvokeHTTP - Get Stops","comments":"","position":{"x":-336.0,"y":1872.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Parada/BuscarParadasPorLinha?codigoLinha=${route_id}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","cookie":"${auth.cookie}","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cookie":{"name":"cookie","displayName":"cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f03-019a-1000-064a-127536f4516b","instanceIdentifier":"a6ad2568-d558-313f-5b1e-ce8b9d9d151a","name":"SplitJson","comments":"","position":{"x":-344.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.records[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f07-019a-1000-ae6e-17fcc04f1ec5","instanceIdentifier":"c06560fc-1379-3852-daf7-96842a65fa62","name":"QueryRecord - Deduplicated Result","comments":"","position":{"x":-336.0,"y":1040.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"q1":"SELECT DISTINCT route_id FROM FLOWFILE","dbf-default-precision":"10","record-writer":"6fb505e7-b3aa-3481-a695-31f326e6d3c1","record-reader":"79ed39a8-e23e-3183-98ad-b2556f4db286","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"q1":{"name":"q1","displayName":"q1","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f05-019a-1000-aceb-9d54d933f3af","instanceIdentifier":"0e22fdbc-5341-3549-34fa-e1f11c268d3a","name":"SplitJson","comments":"","position":{"x":-344.0,"y":432.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.records[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f0b-019a-1000-1bad-bade28926a7f","instanceIdentifier":"b10a34e3-a9cd-31f1-5f0b-7be5520d65c8","name":"JoltTransformJSON","comments":"","position":{"x":-344.0,"y":208.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n  \"route_code\": { \"*\": { \"@\": \"records[&0].route_code\" } },\n  \"route_id\":   { \"*\": { \"@\": \"records[&0].route_id\"   } },\n  \"direction\":  { \"*\": { \"@\": \"records[&0].direction\"  } },\n  \"dir_from\":   { \"*\": { \"@\": \"records[&0].dir_from\"   } },\n  \"dir_to\":     { \"*\": { \"@\": \"records[&0].dir_to\"     } },\n  \"vehicle_id\": { \"*\": { \"@\": \"records[&0].vehicle_id\" } },\n  \"in_service\": { \"*\": { \"@\": \"records[&0].in_service\" } },\n  \"event_ts\":   { \"*\": { \"@\": \"records[&0].event_ts\"   } },\n  \"lat\":        { \"*\": { \"@\": \"records[&0].lat\"        } },\n  \"lon\":        { \"*\": { \"@\": \"records[&0].lon\"        } },\n  \"speed\":      { \"*\": { \"@\": \"records[&0].speed\"      } },\n  \"stop_id\":    { \"*\": { \"@\": \"records[&0].stop_id\"    } }\n}\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f04-019a-1000-8c65-0ffb391d968d","instanceIdentifier":"2193520e-a335-382d-b51a-360e3f4f39ca","name":"RouteOnAttribute","comments":"","position":{"x":-336.0,"y":1680.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"isRouteId":"${route_id:toNumber():isNull():not()}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"isRouteId":{"name":"isRouteId","displayName":"isRouteId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f00-019a-1000-009b-fa67a89d721d","instanceIdentifier":"be99ef95-c289-3e29-6852-d554d1556be2","name":"MergeContent","comments":"","position":{"x":-344.0,"y":824.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"10000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":"1 min","Demarcator File":",","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"10000"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"}],"inputPorts":[{"identifier":"f971d0c2-2664-3ef6-a4a3-944e695ae046","instanceIdentifier":"2df075ce-019a-1000-b64d-8a379ef446a7","name":"inStops","position":{"x":-287.99998122325746,"y":-207.4999705977101},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"}],"outputPorts":[],"connections":[{"identifier":"2df20f13-019a-1000-1633-c43074051a43","instanceIdentifier":"c14083fb-ef6a-3965-1621-c51f66586069","name":"","source":{"id":"2df20f09-019a-1000-c04d-6f8045cef33c","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"InvokeHTTP - Get Stops","comments":"","instanceIdentifier":"64a37f0b-4a32-3a76-c807-72a031d13f65"},"destination":{"id":"2df20f06-019a-1000-09c0-f952c54ecd79","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"RouteOnContent","comments":"","instanceIdentifier":"9084dfe4-dbe6-3677-fd9e-4e846d2a6079"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f1f-019a-1000-9c8a-cd668bad1a1c","instanceIdentifier":"7cd84f89-29b6-31a6-5fbf-a50434602711","name":"","source":{"id":"2df20f00-019a-1000-009b-fa67a89d721d","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"MergeContent","comments":"","instanceIdentifier":"be99ef95-c289-3e29-6852-d554d1556be2"},"destination":{"id":"2df20f00-019a-1000-009b-fa67a89d721d","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"MergeContent","comments":"","instanceIdentifier":"be99ef95-c289-3e29-6852-d554d1556be2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":119.80292790794556,"y":857.1876437768983},{"x":119.80292790794556,"y":907.1876437768983}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f11-019a-1000-0aed-c1ccb9ac2a02","instanceIdentifier":"129a7e72-cdb1-30da-b810-81cdb9659827","name":"","source":{"id":"2df20f07-019a-1000-ae6e-17fcc04f1ec5","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"QueryRecord - Deduplicated Result","comments":"","instanceIdentifier":"c06560fc-1379-3852-daf7-96842a65fa62"},"destination":{"id":"2df20f01-019a-1000-9737-b0799a62e0d2","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"8f6ab621-7809-3264-b935-c324b349f913"},"labelIndex":0,"zIndex":0,"selectedRelationships":["q1"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f17-019a-1000-29e2-b29594d26cad","instanceIdentifier":"362d40c4-41e2-39ff-c823-f642683dab71","name":"","source":{"id":"2df20f01-019a-1000-9737-b0799a62e0d2","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"8f6ab621-7809-3264-b935-c324b349f913"},"destination":{"id":"2df20f01-019a-1000-9737-b0799a62e0d2","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"8f6ab621-7809-3264-b935-c324b349f913"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":131.80292790794556,"y":1276.1876437768983},{"x":131.80292790794556,"y":1326.1876437768983}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f0d-019a-1000-2932-c1a4531318ce","instanceIdentifier":"f08df39f-9172-3017-4fb8-44396992c99d","name":"","source":{"id":"2df20f08-019a-1000-63cf-452d5be5dd05","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"MergeContent","comments":"","instanceIdentifier":"d73018d9-be66-3467-fc52-bcb6aa26f36a"},"destination":{"id":"2df20f08-019a-1000-63cf-452d5be5dd05","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"MergeContent","comments":"","instanceIdentifier":"d73018d9-be66-3467-fc52-bcb6aa26f36a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":131.8888043727893,"y":2552.8055636987733},{"x":131.8888043727893,"y":2602.8055636987733}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f16-019a-1000-fc77-0ad1a61b52be","instanceIdentifier":"c3ec40c7-36c1-334a-e809-b9fbf01d4271","name":"","source":{"id":"2df20f0b-019a-1000-1bad-bade28926a7f","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b10a34e3-a9cd-31f1-5f0b-7be5520d65c8"},"destination":{"id":"2df20f05-019a-1000-aceb-9d54d933f3af","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"0e22fdbc-5341-3549-34fa-e1f11c268d3a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f19-019a-1000-418b-7c91f707ba4f","instanceIdentifier":"cf6bfcd9-0a83-375b-6f99-061c79d6eed6","name":"","source":{"id":"2df20f02-019a-1000-b156-718b62351664","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e90bc4e9-1a45-3026-fd4e-e963ed525d53"},"destination":{"id":"2df20f08-019a-1000-63cf-452d5be5dd05","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"MergeContent","comments":"","instanceIdentifier":"d73018d9-be66-3467-fc52-bcb6aa26f36a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f15-019a-1000-ff93-39a031917928","instanceIdentifier":"d5ec46d2-c191-3ba0-f2dd-a359664add28","name":"","source":{"id":"2df20f06-019a-1000-09c0-f952c54ecd79","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"RouteOnContent","comments":"","instanceIdentifier":"9084dfe4-dbe6-3677-fd9e-4e846d2a6079"},"destination":{"id":"2df20f02-019a-1000-b156-718b62351664","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e90bc4e9-1a45-3026-fd4e-e963ed525d53"},"labelIndex":0,"zIndex":0,"selectedRelationships":["isNonEmptyValue"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f14-019a-1000-59e6-3d1621727b3a","instanceIdentifier":"2a89cdf5-d82f-3cf3-958b-aa18e0df050a","name":"","source":{"id":"2df20f03-019a-1000-064a-127536f4516b","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"a6ad2568-d558-313f-5b1e-ce8b9d9d151a"},"destination":{"id":"2df20f0b-019a-1000-1bad-bade28926a7f","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b10a34e3-a9cd-31f1-5f0b-7be5520d65c8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f0e-019a-1000-e2d0-1953546ff605","instanceIdentifier":"0db773b7-6c49-39ac-6517-54a5d2abf960","name":"","source":{"id":"2df20f04-019a-1000-8c65-0ffb391d968d","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"2193520e-a335-382d-b51a-360e3f4f39ca"},"destination":{"id":"2df20f09-019a-1000-c04d-6f8045cef33c","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"InvokeHTTP - Get Stops","comments":"","instanceIdentifier":"64a37f0b-4a32-3a76-c807-72a031d13f65"},"labelIndex":0,"zIndex":0,"selectedRelationships":["isRouteId"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"b36c458b-46d3-3ef9-a634-2bef37aeda3f","instanceIdentifier":"2df31b96-019a-1000-e071-4fd7d275a890","name":"","source":{"id":"2df20f08-019a-1000-63cf-452d5be5dd05","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"MergeContent","comments":"","instanceIdentifier":"d73018d9-be66-3467-fc52-bcb6aa26f36a"},"destination":{"id":"2df2f1b1-019a-1000-8f2c-c57a5f0bbcac","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"53e27b01-6a53-3649-a5e2-7f1e9d850d26"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f1a-019a-1000-ea4b-742207619500","instanceIdentifier":"0481a3a9-f9e4-3360-15b9-6cbefef384be","name":"","source":{"id":"2df20f03-019a-1000-064a-127536f4516b","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"a6ad2568-d558-313f-5b1e-ce8b9d9d151a"},"destination":{"id":"2df20f03-019a-1000-064a-127536f4516b","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"a6ad2568-d558-313f-5b1e-ce8b9d9d151a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":131.94443791771118,"y":4.328757058148312},{"x":131.94443791771118,"y":54.32875705814831}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f1c-019a-1000-921f-dc76b7b9222d","instanceIdentifier":"d6fc2acc-bc3c-335e-18af-0afcec7f5dbc","name":"","source":{"id":"2df20f05-019a-1000-aceb-9d54d933f3af","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"0e22fdbc-5341-3549-34fa-e1f11c268d3a"},"destination":{"id":"2df20f05-019a-1000-aceb-9d54d933f3af","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"0e22fdbc-5341-3549-34fa-e1f11c268d3a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":125.54395573997681,"y":466.7165744409608},{"x":125.54395573997681,"y":516.7165744409608}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f10-019a-1000-d0df-92dc01fb23cb","instanceIdentifier":"0446a794-0ee8-3449-c950-68f5845fe10c","name":"","source":{"id":"2df20f05-019a-1000-aceb-9d54d933f3af","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"0e22fdbc-5341-3549-34fa-e1f11c268d3a"},"destination":{"id":"2df20eff-019a-1000-0ceb-db1114d4d43c","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"17c60a3d-0779-3dc7-82c6-7c7ba2d812c9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f18-019a-1000-ec28-91eeeb7231ee","instanceIdentifier":"7b6ada8e-b5c1-343d-32d5-221921643ee9","name":"","source":{"id":"2df20f07-019a-1000-ae6e-17fcc04f1ec5","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"QueryRecord - Deduplicated Result","comments":"","instanceIdentifier":"c06560fc-1379-3852-daf7-96842a65fa62"},"destination":{"id":"2df20f07-019a-1000-ae6e-17fcc04f1ec5","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"QueryRecord - Deduplicated Result","comments":"","instanceIdentifier":"c06560fc-1379-3852-daf7-96842a65fa62"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":131.80292790794556,"y":1076.1876437768983},{"x":131.80292790794556,"y":1126.1876437768983}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"60c47186-5987-3374-99b1-02ea39db6378","instanceIdentifier":"2df339cb-019a-1000-f0ee-4342c1c60af9","name":"","source":{"id":"2df2f1b1-019a-1000-8f2c-c57a5f0bbcac","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"53e27b01-6a53-3649-a5e2-7f1e9d850d26"},"destination":{"id":"2df2f1b1-019a-1000-8f2c-c57a5f0bbcac","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"53e27b01-6a53-3649-a5e2-7f1e9d850d26"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":133.0,"y":2767.0},{"x":133.0,"y":2817.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f20-019a-1000-092a-92b8ac4000dc","instanceIdentifier":"c9a948b6-f853-30c1-5ebc-64011f20c3ea","name":"","source":{"id":"2df20f0a-019a-1000-d60d-3b7898c2109f","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"82794419-f879-30ce-e104-752dfedac533"},"destination":{"id":"2df20f04-019a-1000-8c65-0ffb391d968d","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"2193520e-a335-382d-b51a-360e3f4f39ca"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f0c-019a-1000-8291-8f41209b038b","instanceIdentifier":"a8052ec7-b0de-3462-8674-4aa10c335660","name":"","source":{"id":"2df20eff-019a-1000-0ceb-db1114d4d43c","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"17c60a3d-0779-3dc7-82c6-7c7ba2d812c9"},"destination":{"id":"2df20f00-019a-1000-009b-fa67a89d721d","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"MergeContent","comments":"","instanceIdentifier":"be99ef95-c289-3e29-6852-d554d1556be2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f0f-019a-1000-38ee-ee1edf809ab4","instanceIdentifier":"96e008c2-dc97-3f69-992e-06690869d4b7","name":"","source":{"id":"2df20f02-019a-1000-b156-718b62351664","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e90bc4e9-1a45-3026-fd4e-e963ed525d53"},"destination":{"id":"2df20f02-019a-1000-b156-718b62351664","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e90bc4e9-1a45-3026-fd4e-e963ed525d53"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":143.47675603294556,"y":2337.5685031518983},{"x":143.47675603294556,"y":2387.5685031518983}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f1e-019a-1000-5ff1-15b9fe758421","instanceIdentifier":"32a14d53-e47c-3ae5-3936-06356103a7e1","name":"","source":{"id":"2df20f0b-019a-1000-1bad-bade28926a7f","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b10a34e3-a9cd-31f1-5f0b-7be5520d65c8"},"destination":{"id":"2df20f0b-019a-1000-1bad-bade28926a7f","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"b10a34e3-a9cd-31f1-5f0b-7be5520d65c8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":124.19590276146118,"y":250.6500461206483},{"x":124.19590276146118,"y":300.6500461206483}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f1d-019a-1000-8da4-0467ee2c4aa5","instanceIdentifier":"7a8fed96-d533-33c7-ba14-16b71043ac07","name":"","source":{"id":"2df20f01-019a-1000-9737-b0799a62e0d2","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"8f6ab621-7809-3264-b935-c324b349f913"},"destination":{"id":"2df20f0a-019a-1000-d60d-3b7898c2109f","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"82794419-f879-30ce-e104-752dfedac533"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f12-019a-1000-98a6-5e252aade855","instanceIdentifier":"260eb4af-60cf-3a93-98fe-469aedbe3e73","name":"","source":{"id":"2df20f09-019a-1000-c04d-6f8045cef33c","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"InvokeHTTP - Get Stops","comments":"","instanceIdentifier":"64a37f0b-4a32-3a76-c807-72a031d13f65"},"destination":{"id":"2df20f09-019a-1000-c04d-6f8045cef33c","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"InvokeHTTP - Get Stops","comments":"","instanceIdentifier":"64a37f0b-4a32-3a76-c807-72a031d13f65"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":133.12308782005493,"y":1869.0241916284608},{"x":133.12308782005493,"y":1919.0241916284608}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"65e7afa3-9cb5-35b5-883f-ace31c7f04df","instanceIdentifier":"2df23bdc-019a-1000-bc3a-d08903b91981","name":"","source":{"id":"f971d0c2-2664-3ef6-a4a3-944e695ae046","type":"INPUT_PORT","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"inStops","instanceIdentifier":"2df075ce-019a-1000-b64d-8a379ef446a7"},"destination":{"id":"2df20f03-019a-1000-064a-127536f4516b","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"SplitJson","comments":"","instanceIdentifier":"a6ad2568-d558-313f-5b1e-ce8b9d9d151a"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"},{"identifier":"2df20f1b-019a-1000-773b-8d5a27c0356c","instanceIdentifier":"49175fed-e10e-35c1-2de9-bd75f7ce69cc","name":"","source":{"id":"2df20f00-019a-1000-009b-fa67a89d721d","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"MergeContent","comments":"","instanceIdentifier":"be99ef95-c289-3e29-6852-d554d1556be2"},"destination":{"id":"2df20f07-019a-1000-ae6e-17fcc04f1ec5","type":"PROCESSOR","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"QueryRecord - Deduplicated Result","comments":"","instanceIdentifier":"c06560fc-1379-3852-daf7-96842a65fa62"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ab85ff03-b652-307c-b5e1-ab7fbad7744d"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"prd","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"}],"remoteProcessGroups":[],"processors":[{"identifier":"dea76bd7-a13a-397b-9414-8e381985c426","instanceIdentifier":"9e9c8c77-6f26-3943-2a10-7540cb23ef02","name":"GenerateFlowFile - Get Position","comments":"","position":{"x":240.0,"y":-552.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","flow_name":"positions","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"flow_name":{"name":"flow_name","displayName":"flow_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"15 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"},{"identifier":"2de04a76-019a-1000-5581-38b7d14d65b2","instanceIdentifier":"2a7cee51-9749-3069-f658-29b13bb6ad0a","name":"GenerateFlowFile - Get Stops","comments":"","position":{"x":-408.0,"y":-544.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","flow_name":"stops","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"flow_name":{"name":"flow_name","displayName":"flow_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"15 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fa4422a2-3117-3857-9dd0-4d8132343cd0","instanceIdentifier":"2de05bdf-019a-1000-b8d1-6ac3ed6b718a","name":"","source":{"id":"2de04a76-019a-1000-5581-38b7d14d65b2","type":"PROCESSOR","groupId":"62deacdf-206c-3d11-8a73-c0372fa1365b","name":"GenerateFlowFile - Get Stops","comments":"","instanceIdentifier":"2a7cee51-9749-3069-f658-29b13bb6ad0a"},"destination":{"id":"f20cd7ad-40f8-3554-93cf-0a67563e2840","type":"INPUT_PORT","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"inStops","instanceIdentifier":"2deacb11-019a-1000-47fe-073dad38c045"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-232.0,"y":-328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"},{"identifier":"610dbd67-3483-366d-b21b-f1805ebda782","instanceIdentifier":"2def453e-019a-1000-8895-7e98ac3c54a5","name":"","source":{"id":"8d62be88-d53f-3bfb-b1e8-300552c794a8","type":"OUTPUT_PORT","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"outStops","instanceIdentifier":"2deeac74-019a-1000-cce8-ff0542298d09"},"destination":{"id":"f971d0c2-2664-3ef6-a4a3-944e695ae046","type":"INPUT_PORT","groupId":"ab85ff03-b652-307c-b5e1-ab7fbad7744d","name":"inStops","instanceIdentifier":"2df075ce-019a-1000-b64d-8a379ef446a7"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"},{"identifier":"c42f0368-c3f2-3a81-9386-83d9236d44f5","instanceIdentifier":"141b8e25-f2c0-3236-1f7e-7d716d516460","name":"","source":{"id":"dea76bd7-a13a-397b-9414-8e381985c426","type":"PROCESSOR","groupId":"62deacdf-206c-3d11-8a73-c0372fa1365b","name":"GenerateFlowFile - Get Position","comments":"","instanceIdentifier":"9e9c8c77-6f26-3943-2a10-7540cb23ef02"},"destination":{"id":"5e118c81-8440-3260-94b9-314cc5a1c80f","type":"INPUT_PORT","groupId":"24b49575-31d7-3ad6-a4be-000b6f0cb4ef","name":"inPositions","instanceIdentifier":"2deaa2cb-019a-1000-2757-f4d51c59d732"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":416.0,"y":-336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"385621fb-dc16-3135-b573-1e2022cc12d5","instanceIdentifier":"f539cce2-ffbc-3e9a-1fda-e3099ea2c312","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"},{"identifier":"79ed39a8-e23e-3183-98ad-b2556f4db286","instanceIdentifier":"2db45d64-019a-1000-7142-a2d880fabb02","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"},{"identifier":"da4086d3-b8d5-3ee3-a3a0-e55abe77cc1d","instanceIdentifier":"2db48afe-019a-1000-cba2-e8f27f8b45af","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"},{"identifier":"6fb505e7-b3aa-3481-a695-31f326e6d3c1","instanceIdentifier":"2db4e1ab-019a-1000-5455-4d45c5f077e3","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"},{"identifier":"6cc9eff0-4d46-3817-a2fe-a2e9117a6c16","instanceIdentifier":"bfa556fb-1656-342f-1833-94459d4d8dd2","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"broker:29092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"62deacdf-206c-3d11-8a73-c0372fa1365b"}],"parameterContextName":"prd","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"prd":{"name":"prd","parameters":[{"name":"SPTRANS_TOKEN","description":"","sensitive":false,"provided":false,"value":"2eb570f8b1e9bbd60049588cd472f4c1ddb138a6cee071132ddc891d02dff1e4"},{"name":"EndPoint-Minio","description":"","sensitive":false,"provided":false,"value":"http://minio:9000"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}