nifi/templates/API_SPTRANS_Ingestion_v4.json
{"flowContents":{"identifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f","instanceIdentifier":"203590f6-019a-1000-04f4-a2cf41812da4","name":"API_SPTRANS_Ingestion_v4","comments":"","position":{"x":-529.0,"y":-91.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"30a53913-be88-3775-ad50-9ae88c69e272","instanceIdentifier":"ca516708-39a7-3c6a-c297-d2e11018ef9c","name":"PutS3Object - Raw Layer","comments":"","position":{"x":-136.0,"y":920.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"#{EndPoint-Minio}","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"olhovivo/posicao/${now():format('yyyy-MM-dd')}/${uuid}.json","AWS Credentials Provider service":"385621fb-dc16-3135-b573-1e2022cc12d5","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"raw","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"444c3b3f-0409-3793-ab6b-a50a68f331f2","instanceIdentifier":"0328d73d-224b-3c35-cf86-e6397f8ccf37","name":"InvokeHTTP - Get Auth","comments":"","position":{"x":-144.0,"y":96.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Login/Autenticar?token=#{SPTRANS_TOKEN}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"6350603d-58c3-3a60-9004-fdbeb1104c6b","instanceIdentifier":"63f7f8e1-9ad8-3bdd-0508-724b04f404da","name":"UpdateAttribute - Get Credentials","comments":"","position":{"x":-144.0,"y":288.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","auth.cookie":"${set-cookie:substringBefore(';'):trim()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auth.cookie":{"name":"auth.cookie","displayName":"auth.cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"2ab7a6d7-c691-386b-8e06-a198497266a9","instanceIdentifier":"1223a813-f57b-3382-4cd7-a7dac49f0291","name":"GenerateFlowFile","comments":"","position":{"x":-144.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"2 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"15 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"9f70eb0e-9cef-3a87-920e-7c1b6792add6","instanceIdentifier":"203d4954-019a-1000-acf8-cb7a0bbdbc5a","name":"JoltTransformJSON","comments":"","position":{"x":-136.0,"y":696.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.2.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"cardinality\",\n    \"spec\": {\n      \"l\": \"MANY\",\n      \"l.*.vs\": \"MANY\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"hr\": \"hr\",\n      \"l\": {\n        \"*\": {\n          \"vs\": {\n            \"*\": {\n              \"@(2,c)\":   \"records[&1].route_code\",\n              \"@(2,cl)\":  \"records[&1].route_id\",\n              \"@(2,sl)\":  \"records[&1].direction\",\n              \"@(2,lt0)\": \"records[&1].dir_from\",\n              \"@(2,lt1)\": \"records[&1].dir_to\",\n              \"p\":        \"records[&1].vehicle_id\",\n              \"a\":        \"records[&1].in_service\",\n              \"ta\":       \"records[&1].event_ts\",\n              \"py\":       \"records[&1].lat\",\n              \"px\":       \"records[&1].lon\",\n              \"sv\":       \"records[&1].speed\",\n              \"is\":       \"records[&1].stop_id\"\n            }\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"records\": {\n        \"*\": {\n          \"route_id\":    \"=toInteger(@(1,route_id))\",\n          \"direction\":   \"=toInteger(@(1,direction))\",\n          \"vehicle_id\":  \"=toInteger(@(1,vehicle_id))\",\n          \"in_service\":  \"=toBoolean(@(1,in_service))\",\n          \"lat\":         \"=toDouble(@(1,lat))\",\n          \"lon\":         \"=toDouble(@(1,lon))\",\n          \"speed\":       \"=toDouble(@(1,speed))\"\n        }\n      }\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"8b05aaed-5670-3471-8d43-29f491455c4b","instanceIdentifier":"051620ee-50b0-3cf2-2083-7c21209387ba","name":"InvokeHTTP - Get Position","comments":"","position":{"x":-144.0,"y":496.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.olhovivo.sptrans.com.br/v2.1/Posicao","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","cookie":"${auth.cookie}","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cookie":{"name":"cookie","displayName":"cookie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a09c801b-49d2-301f-b2d0-a64392bdbb15","instanceIdentifier":"883d0bd2-eb17-333f-435c-7a8605ffd109","name":"","source":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"051620ee-50b0-3cf2-2083-7c21209387ba"},"destination":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"051620ee-50b0-3cf2-2083-7c21209387ba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":296.0,"y":464.0},{"x":296.0,"y":472.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"5b010e90-78c4-333d-9773-eeb655bb709f","instanceIdentifier":"5bcf4b50-af4a-3f18-ce59-9cd27b4e4dc4","name":"","source":{"id":"6350603d-58c3-3a60-9004-fdbeb1104c6b","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"UpdateAttribute - Get Credentials","comments":"","instanceIdentifier":"63f7f8e1-9ad8-3bdd-0508-724b04f404da"},"destination":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"051620ee-50b0-3cf2-2083-7c21209387ba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"3f844224-121c-3437-acf5-d4206665c656","instanceIdentifier":"01003d92-b876-316b-c564-84e02fab1923","name":"","source":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"ca516708-39a7-3c6a-c297-d2e11018ef9c"},"destination":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"ca516708-39a7-3c6a-c297-d2e11018ef9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":324.62911224365234,"y":947.077880859375},{"x":324.62911224365234,"y":997.077880859375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"dfd57406-15c2-31e2-ba43-424e87030835","instanceIdentifier":"9eae3b21-4481-34e3-fc93-54a53ceea7f9","name":"","source":{"id":"2ab7a6d7-c691-386b-8e06-a198497266a9","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"GenerateFlowFile","comments":"","instanceIdentifier":"1223a813-f57b-3382-4cd7-a7dac49f0291"},"destination":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"0328d73d-224b-3c35-cf86-e6397f8ccf37"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"4eedb413-cd1a-3370-b8f4-e93f66430845","instanceIdentifier":"203d7c4c-019a-1000-084a-04cb4b484482","name":"","source":{"id":"8b05aaed-5670-3471-8d43-29f491455c4b","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"InvokeHTTP - Get Position","comments":"","instanceIdentifier":"051620ee-50b0-3cf2-2083-7c21209387ba"},"destination":{"id":"9f70eb0e-9cef-3a87-920e-7c1b6792add6","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"203d4954-019a-1000-acf8-cb7a0bbdbc5a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"ffe0fab1-9a85-3707-894b-2aa2c2aba7e2","instanceIdentifier":"b1e507be-9ee9-3790-2ea2-57d0a7e8d887","name":"","source":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"0328d73d-224b-3c35-cf86-e6397f8ccf37"},"destination":{"id":"6350603d-58c3-3a60-9004-fdbeb1104c6b","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"UpdateAttribute - Get Credentials","comments":"","instanceIdentifier":"63f7f8e1-9ad8-3bdd-0508-724b04f404da"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"3d936c04-8f2b-37b6-bd4a-3c77621b40f9","instanceIdentifier":"2a0bd2a9-6389-3ca6-bc81-083149f2f4fc","name":"","source":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"0328d73d-224b-3c35-cf86-e6397f8ccf37"},"destination":{"id":"444c3b3f-0409-3793-ab6b-a50a68f331f2","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"InvokeHTTP - Get Auth","comments":"","instanceIdentifier":"0328d73d-224b-3c35-cf86-e6397f8ccf37"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":321.6481399536133,"y":135.0},{"x":321.6481399536133,"y":185.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"ce02904c-1796-37f4-a47a-406c16bf1e86","instanceIdentifier":"20593600-019a-1000-27b9-15d7d85d9ec9","name":"","source":{"id":"9f70eb0e-9cef-3a87-920e-7c1b6792add6","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"203d4954-019a-1000-acf8-cb7a0bbdbc5a"},"destination":{"id":"30a53913-be88-3775-ad50-9ae88c69e272","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"PutS3Object - Raw Layer","comments":"","instanceIdentifier":"ca516708-39a7-3c6a-c297-d2e11018ef9c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"865abb4c-e8d4-3dfc-92d2-f6439d857d08","instanceIdentifier":"203d8e4e-019a-1000-6579-9a5a162151d9","name":"","source":{"id":"9f70eb0e-9cef-3a87-920e-7c1b6792add6","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"203d4954-019a-1000-acf8-cb7a0bbdbc5a"},"destination":{"id":"9f70eb0e-9cef-3a87-920e-7c1b6792add6","type":"PROCESSOR","groupId":"1731bdfb-a386-340f-81a6-a7aa28c2343f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"203d4954-019a-1000-acf8-cb7a0bbdbc5a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":333.0,"y":735.0},{"x":333.0,"y":785.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"385621fb-dc16-3135-b573-1e2022cc12d5","instanceIdentifier":"33cef8e4-7f3c-34f8-dd0f-bb72e7743e40","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"},{"identifier":"6cc9eff0-4d46-3817-a2fe-a2e9117a6c16","instanceIdentifier":"fd536687-3f27-3643-bf56-60d0bb3e7c41","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"broker:29092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1731bdfb-a386-340f-81a6-a7aa28c2343f"}],"parameterContextName":"prd","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"prd":{"name":"prd","parameters":[{"name":"SPTRANS_TOKEN","description":"","sensitive":false,"provided":false,"value":"2eb570f8b1e9bbd60049588cd472f4c1ddb138a6cee071132ddc891d02dff1e4"},{"name":"EndPoint-Minio","description":"","sensitive":false,"provided":false,"value":"http://minio:9000"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}